/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - PAGE
02 - HEADINGS
03 - LINKS
03 - TABLES
******************************/

/* 01 - PAGE */
body {
  background: $bodyBackground;
  color: $bodyTextColor;
  line-height: $bodyLineHeight;
  font-weight: $bodyFontWeight;
  font-family: $bodyFontFamily, Helvetica, Arial, sans-serif;
  font-size: $bodyFontSize;
}

/* 02 - HEADINGS */

h1 {
  color: $headingOneColor;
  line-height: $headingOneHeight;
  font-weight: $headingOneWeight;
  font-family: $headingOneFont, Helvetica, Arial, sans-serif;
  font-size: $headingOneSize;
  margin-top: $headingOneMarginTop;
  margin-bottom: $headingOneMarginBottom;
}

h2 {
  color: $headingTwoColor;
  line-height: $headingTwoHeight;
  font-weight: $headingTwoWeight;
  font-family: $headingTwoFont, Helvetica, Arial, sans-serif;
  font-size: $headingTwoSize;
  margin-top: $headingTwoMarginTop;
  margin-bottom: $headingTwoMarginBottom;
}

h3 {
  color: $headingThreeColor;
  line-height: $headingThreeHeight;
  font-weight: $headingThreeWeight;
  font-family: $headingThreeFont, Helvetica, Arial, sans-serif;
  font-size: $headingThreeSize;
  margin-top: $headingThreeMarginTop;
  margin-bottom: $headingThreeMarginBottom;
}

h4 {
  color: $headingFourColor;
  line-height: $headingFourHeight;
  font-weight: $headingFourWeight;
  font-family: $headingFourFont, Helvetica, Arial, sans-serif;
  font-size: $headingFourSize;
  margin-top: $headingFourMarginTop;
  margin-bottom: $headingFourMarginBottom;
}

h5 {
  color: $headingFiveColor;
  line-height: $headingFiveHeight;
  font-weight: $headingFiveWeight;
  font-family: $headingFiveFont, Helvetica, Arial, sans-serif;
  font-size: $headingFiveSize;
  margin-top: $headingFiveMarginTop;
  margin-bottom: $headingFiveMarginBottom;
}

h6 {
  color: $headingSixColor;
  line-height: $headingSixHeight;
  font-weight: $headingSixWeight;
  font-family: $headingSixFont, Helvetica, Arial, sans-serif;
  font-size: $headingSixSize;
  margin-top: $headingSixMarginTop;
  margin-bottom: $headingSixMarginBottom;
}

/* 03 - LINKS */

a {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
    text-decoration: $linkHoverDecor;
    outline: none;
  }
}

.btn.btn-link {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
    text-decoration: $linkHoverDecor;
    outline: none;
  }
}

/* 04 - TABLES */

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $cellPadding;
      }
    }
  }
}

.table-bordered {
  border: $tableBorder;

  tr {
    border-top: $rowBorder;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: $cellBorderTop;
      }
    }
  }
}

table,
table.mce-item-table {

  border: $tableBorder;

  tr {
    border-top: $rowBorder;

    &:first-child {
      border-top: none;
    }
  }

  > thead ~ tbody,
  > thead ~ tfoot {
    tr:first-child {
      border-top: $rowBorder;
    }
  }

  th,
  td,
  caption {
    padding: $cellPadding;
    border: $cellBorderTop;
  }
}

