/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
TABLES
******************************/

/* TABLES */

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $cellPadding;
      }
    }
  }
}

.table-bordered {
  border: $tableBorder;

  tr {
    border-top: $rowBorder;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: $cellBorderTop;
      }
    }
  }
}

table,
table.mce-item-table {

  border: $tableBorder;

  tr {
    border-top: $rowBorder;

    &:first-child {
      border-top: none;
    }
  }

  > thead ~ tbody,
  > thead ~ tfoot {
    tr:first-child {
      border-top: $rowBorder;
    }
  }

  th,
  td,
  caption {
    padding: $cellPadding;
    border: $cellBorderTop;
  }
}

