/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - PAGE
02 - HEADINGS
03 - LINKS
03 - TABLES
******************************/

/* 03 - LINKS */

a {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
    text-decoration: $linkHoverDecor;
    outline: none;
  }
}

.btn.btn-link {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
    text-decoration: $linkHoverDecor;
    outline: none;
  }
}

/* 04 - TABLES */

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $cellPadding;
      }
    }
  }
}

.table-bordered {
  border: $tableBorder;

  tr {
    border-top: $rowBorder;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: $cellBorderTop;
      }
    }
  }
}

table,
table.mce-item-table {

  border: $tableBorder;

  tr {
    border-top: $rowBorder;

    &:first-child {
      border-top: none;
    }
  }

  > thead ~ tbody,
  > thead ~ tfoot {
    tr:first-child {
      border-top: $rowBorder;
    }
  }

  th,
  td,
  caption {
    padding: $cellPadding;
    border: $cellBorderTop;
  }
}

