/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - MENU
******************************/
/* 01 - MENU */

.fl-viewport-header {
  background: $menuTopNavBackground;
  text-shadow: 0 1px 0 $menuTopNavFontShadowColor;
  border-bottom: 1px solid $menuTopNavBorder;
  color: $menuTopNavFontColor;

  .nav-left,
  .nav-left-arrow,
  .nav-right-arrow {
    color: $menuBackButtonColor;
  }
  .nav-right,
  .nav-center {
    .hamburger {
      .hamburger-inner {
        background-color: $menuButtonColor;

        &:after,
        &:before {
          background-color: $menuButtonColor;
        }
      }
    }
  }
}

.fl-menu-panel,
.fl-menu .fl-menu-body-swipe {
  background: $menuBackgroundColor;

  .fl-list-default {
    ul {
      font-family: $menuFont;
      font-size: $menuFontSize;
    }
  }
}

.fl-app-menu {
  .fl-list-default {
    color: $menuFontColor;

    ul>li .fa {
      color: $menuFontColor;
    }
  }
}

.fl-close-menu {
  .hamburger.is-active {
    .hamburger-inner {
      background-color: $menuCloseButtonColor;

      &:after,
      &:before {
        background-color: $menuCloseButtonColor;
      }
    }
  }
}

.fl-app-menu-toolbar {
  background: $menuFooterBackgroundColor;

  .copyright {
    color: $menuFooterFontColor;

    a {
      color: $menuFooterFontColor;
    }
  }
}

.fl-bar-padding {
  .fl-viewport-header {
    border-bottom: none;
    border-top: 1px solid $menuTopNavBorder;
  }
}
  

.fl-menu-default {
  .fl-menu-panel {
    &:before {
      border-bottom: 11px solid $menuBackgroundColor;
    }
  }
}

/* Minimal Nav */
.fl-viewport-menu {
  ul {
    background: $menuTopNavBackground;
    border: 1px solid $menuTopNavBorder;

    li {
      &.fl-menu-arrow {
        color: $menuBackButtonColor;
      }
      &.linked {
        background-color: rgba($menuTopNavFontColor,0.2);

        &.active {
          background-color: $menuTopNavFontColor;
        }
      }
    }
  }
}

/* Expandable Menu */
.fl-menu-circle-header {
  .nav-toggle {
    background: $menuExpButtonColor;
    color: $menuExpButtonIconColor;

    .hamburger {
      .hamburger-inner {
        background-color: $menuExpButtonIconColor;

        &:after,
        &:before {
          background-color: $menuExpButtonIconColor;
        }
      }
    }

    &.active {
      background: $menuExpButtonColorOpen;
      color: $menuExpButtonIconColorOpen;

      .hamburger.is-active {
        .hamburger-inner {
          background-color: $menuExpButtonIconColorOpen;

          &:after,
          &:before {
            background-color: $menuExpButtonIconColorOpen;
          }
        }
      }
    }
  }
}

.fl-menu-circle-nav-holder {
  .nav-circle {
    background: $menuExpBackground;

    &.active {
      background: $menuExpBackgroundOpen;
    }
  }
}

.fl-menu-circle-nav-list-holder {
  .nav-list{
    font-family: $menuFont;
    font-size: $menuFontSize;

    li {
      color: $menuExpFontColor;
    }
  }
  .fl-menu-foot {
    a {
      color: $menuExpFooterFontColor;
    }
  }
}

.fl-menu-panel-swipe {
  .fl-list-default {
    ul {
      font-family: $menuFont;
      font-size: $menuFontSize;
    }
  }
}

/** BOTTOM BAR MENU **/
.fl-bottom-bar-menu-holder {
  background-color: $menuBottomBarBackgroundColor;
  color: $menuBottomBarFontColor;

  .fl-bottom-bar-icon-holder {
    &.active {
      .fl-menu-icon {
        color: $menuBottomBarActiveFontColor;
      }

      .fl-menu-title {
        color: $menuBottomBarActiveFontColor;
      }
    }
  }
}