/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - MENU
******************************/
/* 01 - MENU */

@mixin viewportHeader($options: ()) {
  $configuration: map-merge((
    headerBackgroundColor: $menuTopNavBackground,
    headerTextColor: $menuTopNavFontColor,
    headerShadowStyle: $menuShadowStyle,
    headerShadowXOffset: $menuShadowXoffset,
    headerShadowYOffset: $menuShadowYoffset,
    headerShadowBlur: $menuShadowBlur,
    headerShadowSpread: $menuShadowSpread,
    headerShadowColor: $menuTopNavFontShadowColor
  ), $options);

  background-color: map-get($configuration, headerBackgroundColor);
  color: map-get($configuration, headerTextColor);

  @if map-get($configuration, headerShadowStyle) == 'inset' {
    box-shadow: map-get($configuration, headerShadowStyle)
      map-get($configuration, headerShadowXOffset)
      map-get($configuration, headerShadowYOffset)
      map-get($configuration, headerShadowBlur)
      map-get($configuration, headerShadowSpread)
      map-get($configuration, headerShadowColor);
  }
  @if map-get($configuration, headerShadowStyle) == 'none' {
    box-shadow: map-get($configuration, headerShadowStyle);
  }
  @if map-get($configuration, headerShadowStyle) == 'outset' {
    box-shadow: map-get($configuration, headerShadowXOffset)
      map-get($configuration, headerShadowYOffset)
      map-get($configuration, headerShadowBlur)
      map-get($configuration, headerShadowSpread)
      map-get($configuration, headerShadowColor);
  }

  border: none;
}

.fl-viewport-header {
  @include viewportHeader();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include viewportHeader((
      headerBackgroundColor: $menuTopNavBackgroundTablet,
      headerTextColor: $menuTopNavFontColorTablet,
      headerShadowXOffset: $menuShadowXoffsetTablet,
      headerShadowYOffset: $menuShadowYoffsetTablet,
      headerShadowBlur: $menuShadowBlurTablet,
      headerShadowSpread: $menuShadowSpreadTablet,
      headerShadowColor: $menuTopNavFontShadowColorTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include viewportHeader((
      headerBackgroundColor: $menuTopNavBackgroundDesktop,
      headerTextColor: $menuTopNavFontColorDesktop,
      headerShadowXOffset: $menuShadowXoffsetDesktop,
      headerShadowYOffset: $menuShadowYoffsetDesktop,
      headerShadowBlur: $menuShadowBlurDesktop,
      headerShadowSpread: $menuShadowSpreadDesktop,
      headerShadowColor: $menuTopNavFontShadowColorDesktop
    ));
  }

  .nav-left,
  .nav-left-arrow,
  .nav-right-arrow {
    color: $menuBackButtonColor;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      color: $menuBackButtonColorTablet;
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      color: $menuBackButtonColorDesktop;
    }
  }
  .nav-right,
  .nav-center {
    .hamburger {
      .hamburger-inner {
        background-color: $menuButtonColor;

        &:after,
        &:before {
          background-color: $menuButtonColor;
        }

        // Styles for tablet
        @include above($tabletBreakpoint) {
          background-color: $menuButtonColorTablet;

          &:after,
          &:before {
            background-color: $menuButtonColorTablet;
          }
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          background-color: $menuButtonColorDesktop;

          &:after,
          &:before {
            background-color: $menuButtonColorDesktop;
          }
        }
      }

      &.is-active {
        .hamburger-inner {
          background-color: $menuCloseButtonColor;

          &:after,
          &:before {
            background-color: $menuCloseButtonColor;
          }

          // Styles for tablet
          @include above($tabletBreakpoint) {
            background-color: $menuCloseButtonColorTablet;

            &:after,
            &:before {
              background-color: $menuCloseButtonColorTablet;
            }
          }

          // Styles for desktop
          @include above($desktopBreakpoint) {
            background-color: $menuCloseButtonColorDesktop;

            &:after,
            &:before {
              background-color: $menuCloseButtonColorDesktop;
            }
          }
        }
      }
    }
  }
}

.fl-menu-panel,
.fl-menu .fl-menu-body-swipe {
  background-color: $menuBackgroundColor;

  .fl-list-default {
    ul {
      @include fontOnly((
        fontFamily: $menuFont,
        fontSize: $menuFontSize,
        fontLineHeight: 1.5,
        fontWeight: $menuFontWeight,
        fontStyle: $menuFontStyle,
        fontDecoration: $menuFontDecoration
      ));

      li {
        border-bottom: 1px solid rgba($menuTopNavFontColor, 0.2);
      }
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    background-color: $menuBackgroundColorTablet;

    .fl-list-default {
      ul {
        @include fontOnly((
          fontFamily: $menuFontTablet,
          fontSize: $menuFontSizeTablet,
          fontLineHeight: 1.5,
          fontWeight: $menuFontWeightTablet,
          fontStyle: $menuFontStyleTablet,
          fontDecoration: $menuFontDecorationTablet
        ));

        li {
          border-bottom: 1px solid rgba($menuTopNavFontColorTablet, 0.2);
        }
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $menuBackgroundColorDesktop;

    .fl-list-default {
      ul {
        @include fontOnly((
          fontFamily: $menuFontDesktop,
          fontSize: $menuFontSizeDesktop,
          fontLineHeight: 1.5,
          fontWeight: $menuFontWeightDesktop,
          fontStyle: $menuFontStyleDesktop,
          fontDecoration: $menuFontDecorationDesktop
        ));

        li {
          border-bottom: 1px solid rgba($menuTopNavFontColorDesktop, 0.2);
        }
      }
    }
  }
}

.fl-app-menu {
  .fl-list-default {
    color: $menuFontColor;

    ul>li .fa {
      color: $menuFontColor;
    }

    // Styles for tablet
    @include above($tabletBreakpoint) {
      color: $menuFontColorTablet;

      ul>li .fa {
        color: $menuFontColorTablet;
      }
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      color: $menuFontColorDesktop;

      ul>li .fa {
        color: $menuFontColorDesktop;
      }
    }
  }
}

.fl-app-menu-toolbar {
  background-color: $menuBackgroundColor;

  .copyright {
    color: $menuFooterFontColor;

    a {
      color: $menuFooterFontColor;
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    background-color: $menuBackgroundColorTablet;

    .copyright {
      color: $menuFooterFontColorTablet;

      a {
        color: $menuFooterFontColorTablet;
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $menuBackgroundColorDesktop;

    .copyright {
      color: $menuFooterFontColorDesktop;

      a {
        color: $menuFooterFontColorDesktop;
      }
    }
  }
}

.fl-bar-padding {
  .fl-viewport-header {
    border-bottom: none;
    border-top: none;
  }
}
  

.fl-menu-default {
  .fl-menu-panel {
    &:before {
      border-bottom: 11px solid $menuBackgroundColor;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        border-bottom: 11px solid $menuBackgroundColorTablet;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        border-bottom: 11px solid $menuBackgroundColorDesktop;
      }
    }
  }
}

/* Minimal Nav */
.fl-viewport-menu {
  ul {
    background: $menuTopNavBackground;
    border: none;

    li {
      &.fl-menu-arrow {
        color: $menuBackButtonColor;
      }
      &.linked {
        background-color: rgba($menuTopNavFontColor, 0.2);

        &.active {
          background-color: $menuTopNavFontColor;
        }
      }
    }

    // Styles for tablet
    @include above($tabletBreakpoint) {
      background: $menuTopNavBackgroundTablet;

      li {
        &.fl-menu-arrow {
          color: $menuBackButtonColorTablet;
        }
        &.linked {
          background-color: rgba($menuTopNavFontColorTablet, 0.2);

          &.active {
            background-color: $menuTopNavFontColorTablet;
          }
        }
      }
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      background: $menuTopNavBackgroundDesktop;

      li {
        &.fl-menu-arrow {
          color: $menuBackButtonColorDesktop;
        }
        &.linked {
          background-color: rgba($menuTopNavFontColorDesktop, 0.2);

          &.active {
            background-color: $menuTopNavFontColorDesktop;
          }
        }
      }
    }
  }
}

/* Expandable Menu */
.fl-menu-circle-header {
  .nav-toggle {
    background-color: $menuExpButtonColor;
    color: $menuExpButtonIconColor;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      background-color: $menuExpButtonColorTablet;
      color: $menuExpButtonIconColorTablet;
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      background-color: $menuExpButtonColorDesktop;
      color: $menuExpButtonIconColorDesktop;
    }

    .hamburger {
      .hamburger-inner {
        background-color: $menuExpButtonIconColor;

        &:after,
        &:before {
          background-color: $menuExpButtonIconColor;
        }

        // Styles for tablet
        @include above($tabletBreakpoint) {
          background-color: $menuExpButtonIconColorTablet;

          &:after,
          &:before {
            background-color: $menuExpButtonIconColorTablet;
          }
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          background-color: $menuExpButtonIconColorDesktop;

          &:after,
          &:before {
            background-color: $menuExpButtonIconColorDesktop;
          }
        }
      }
    }

    &.active {
      background: $menuExpButtonColorOpen;
      color: $menuExpButtonIconColorOpen;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        background-color: $menuExpButtonColorOpenTablet;
        color: $menuExpButtonIconColorOpenTablet;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        background-color: $menuExpButtonColorOpenDesktop;
        color: $menuExpButtonIconColorOpenDesktop;
      }

      .hamburger.is-active {
        .hamburger-inner {
          background-color: $menuExpButtonIconColorOpen;

          &:after,
          &:before {
            background-color: $menuExpButtonIconColorOpen;
          }

          // Styles for tablet
          @include above($tabletBreakpoint) {
            background-color: $menuExpButtonIconColorOpenTablet;

            &:after,
            &:before {
              background-color: $menuExpButtonIconColorOpenTablet;
            }
          }

          // Styles for desktop
          @include above($desktopBreakpoint) {
            background-color: $menuExpButtonIconColorOpenDesktop;

            &:after,
            &:before {
              background-color: $menuExpButtonIconColorOpenDesktop;
            }
          }
        }
      }
    }
  }
}

.fl-menu-circle-nav-holder {
  .nav-circle {
    background-color: $menuExpButtonColor;

    &.active {
      background-color: $menuExpBackgroundOpen;
    }

    // Styles for tablet
    @include above($tabletBreakpoint) {
      background-color: $menuExpButtonColorTablet;

      &.active {
        background-color: $menuExpBackgroundOpenTablet;
      }
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      background-color: $menuExpButtonColorDesktop;

      &.active {
        background-color: $menuExpBackgroundOpenDesktop;
      }
    }
  }
}

.fl-menu-circle-nav-list-holder {
  .nav-list{
    @include fontOnly((
      fontFamily: $menuExpFont,
      fontSize: $menuExpFontSize,
      fontLineHeight: 1.5,
      fontWeight: $menuExpFontWeight,
      fontStyle: $menuExpFontStyle,
      fontDecoration: $menuExpFontDecoration
    ));

    li {
      color: $menuExpFontColor;
    }

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include fontOnly((
        fontFamily: $menuExpFontTablet,
        fontSize: $menuExpFontSizeTablet,
        fontLineHeight: 1.5,
        fontWeight: $menuExpFontWeightTablet,
        fontStyle: $menuExpFontStyleTablet,
        fontDecoration: $menuExpFontDecorationTablet
      ));

      li {
        color: $menuExpFontColorTablet;
      }
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include fontOnly((
        fontFamily: $menuExpFontDesktop,
        fontSize: $menuExpFontSizeDesktop,
        fontLineHeight: 1.5,
        fontWeight: $menuExpFontWeightDesktop,
        fontStyle: $menuExpFontStyleDesktop,
        fontDecoration: $menuExpFontDecorationDesktop
      ));

      li {
        color: $menuExpFontColorDesktop;
      }
    }
  }
  .fl-menu-foot {
    a {
      color: $menuExpFooterFontColor;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        color: $menuExpFooterFontColorTablet;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        color: $menuExpFooterFontColorDesktop;
      }
    }
  }
}

.fl-menu-panel-swipe {
  .fl-list-default {
    ul {
      font-family: $menuFont;
      font-size: $menuFontSize;
      font-weight: $menuFontWeight;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        font-family: $menuFontTablet;
        font-size: $menuFontSizeTablet;
        font-weight: $menuFontWeightTablet;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        font-family: $menuFontDesktop;
        font-size: $menuFontSizeDesktop;
        font-weight: $menuFontWeightDesktop;
      }
    }
  }
}

/** BOTTOM BAR MENU **/
.fl-bottom-bar-menu-holder {
  color: $menuBottomBarFontColor;

  ul {
    background-color: $menuBottomBarBackgroundColor;
  }

  li {
    .fl-menu-title {
      @include fontOnly((
        fontFamily: $menuBottomFont,
        fontSize: $menuBottomSize,
        fontLineHeight: 1.5,
        fontWeight: $menuBottomWeight,
        fontStyle: $menuBottomStyle,
        fontDecoration: $menuBottomDecoration
      ));
    }

    &.active {
      background-color: $menuBottomActiveBackground;

      .fl-menu-icon {
        color: $menuBottomBarActiveFontColor;
      }

      .fl-menu-title {
        color: $menuBottomBarActiveFontColor;
      }
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: $menuBottomBarFontColorTablet;

    ul {
      background-color: $menuBottomBarBackgroundColorTablet;
    }

    li {
      .fl-menu-title {
        @include fontOnly((
          fontFamily: $menuBottomFontTablet,
          fontSize: $menuBottomSizeTablet,
          fontLineHeight: 1.5,
          fontWeight: $menuBottomWeightTablet,
          fontStyle: $menuBottomStyleTablet,
          fontDecoration: $menuBottomDecorationTablet
        ));
      }

      &.active {
        background-color: $menuBottomActiveBackgroundTablet;

        .fl-menu-icon {
          color: $menuBottomBarActiveFontColorTablet;
        }

        .fl-menu-title {
          color: $menuBottomBarActiveFontColorTablet;
        }
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: $menuBottomBarFontColorDesktop;

    ul {
      background-color: $menuBottomBarBackgroundColorDesktop;
    }

    li {
      .fl-menu-title {
        @include fontOnly((
          fontFamily: $menuBottomFontDesktop,
          fontSize: $menuBottomSizeDesktop,
          fontLineHeight: 1.5,
          fontWeight: $menuBottomWeightDesktop,
          fontStyle: $menuBottomStyleDesktop,
          fontDecoration: $menuBottomDecorationDesktop
        ));
      }

      &.active {
        background-color: $menuBottomActiveBackgroundDesktop;

        .fl-menu-icon {
          color: $menuBottomBarActiveFontColorDesktop;
        }

        .fl-menu-title {
          color: $menuBottomBarActiveFontColorDesktop;
        }
      }
    }
  }
}