/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - MENU
******************************/
/* 01 - MENU */

.fl-viewport-header {
  background: $menuTopNavBackground;
  text-shadow: 0 1px 0 $menuTopNavFontShadowColor;
  border-bottom: 1px solid $menuTopNavBorder;
  color: $menuTopNavFontColor;
}

.fl-bar-padding {
  .fl-viewport-header {
    border-bottom: none;
    border-top: 1px solid $menuTopNavBorder;
  }
}

.fl-viewport-header {
  .nav-left,
  .nav-left-arrow,
  .nav-right-arrow {
    color: $menuBackButtonColor;
  }
  .nav-right,
  .nav-center {
    color: $menuButtonColor;
  }
}

.fl-menu-panel {
  background: $menuBackgroundColor;
}

.fl-app-menu {
  .fl-list-default {
    color: $menuFontColor;

    ul>li .fa {
      color: $menuFontColor;
    }
  }
}

.fl-close-menu {
  color: $menuCloseButtonColor;
}

.fl-app-menu-toolbar {
  background: $menuFooterBackgroundColor;

  .copyright {
    color: $menuFooterFontColor;

    a {
      color: $menuFooterFontColor;
    }
  }

  &:before {
    background: -moz-linear-gradient(top, rgba($menuFooterBackgroundColor, 0) 0%, rgba($menuFooterBackgroundColor, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba($menuFooterBackgroundColor, 0)), color-stop(100%, rgba($menuFooterBackgroundColor, 1)));
    background: -webkit-linear-gradient(top, rgba($menuFooterBackgroundColor, 0) 0%, rgba($menuFooterBackgroundColor, 1) 100%);
    background: -o-linear-gradient(top, rgba($menuFooterBackgroundColor, 0) 0%, rgba($menuFooterBackgroundColor, 1) 100%);
    background: -ms-linear-gradient(top, rgba($menuFooterBackgroundColor, 0) 0%, rgba($menuFooterBackgroundColor, 1) 100%);
    background: linear-gradient(to bottom, rgba($menuFooterBackgroundColor, 0) 0%, rgba($menuFooterBackgroundColor, 1) 100%);
  }
}

.fl-bar-padding {
  .fl-app-menu-toolbar {
    &:before {
      background: -moz-linear-gradient(top, rgba($menuFooterBackgroundColor, 1) 0%, rgba($menuFooterBackgroundColor, 0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba($menuFooterBackgroundColor, 1)), color-stop(100%, rgba($menuFooterBackgroundColor, 0)));
      background: -webkit-linear-gradient(top, rgba($menuFooterBackgroundColor, 1) 0%, rgba($menuFooterBackgroundColor, 0) 100%);
      background: -o-linear-gradient(top, rgba($menuFooterBackgroundColor, 1) 0%, rgba($menuFooterBackgroundColor, 0) 100%);
      background: -ms-linear-gradient(top, rgba($menuFooterBackgroundColor, 1) 0%, rgba($menuFooterBackgroundColor, 0) 100%);
      background: linear-gradient(to bottom, rgba($menuFooterBackgroundColor, 1) 0%, rgba($menuFooterBackgroundColor, 0) 100%);
    }
  }
}
  

.fl-menu-default {
  .fl-menu-panel {
    &:before {
      border-bottom: 11px solid $menuBackgroundColor;
    }
  }
}

/* Minimal Nav */
.fl-viewport-menu {
  ul {
    background: $menuTopNavBackground;
    border: 1px solid $menuTopNavBorder;

    li {
      &.fl-menu-arrow {
        color: $menuBackButtonColor;
      }
      &.linked {
        background-color: rgba($menuTopNavFontColor,0.2);

        &.active {
          background-color: $menuTopNavFontColor;
        }
      }
    }
  }
}

/* Expandable Menu */
.fl-menu-circle-header {
  .nav-toggle {
    background: $menuExpButtonColor;
    color: $menuExpButtonIconColor;

    .fa {
      color: $menuExpButtonIconColor;
    }

    &.active {
      background: $menuExpButtonIconColor;
      color: $menuExpButtonColor;
      .fa {
        color: $menuExpButtonColor;
      }
    }
  }
}

.fl-menu-circle-nav-holder {
  .nav-circle {
    background: $menuExpBackground;
  }
}

.fl-menu-circle-nav-list-holder {
  .nav-list{
    li {
      color: $menuExpFontColor;
    }
  }
  .fl-menu-foot {
    a {
      color: $menuExpFooterFontColor;
    }
  }
}