@mixin above ($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin below ($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin borderOnly($options: ()) {
  $configuration: map-merge((
    borderSides: '',
    borderWidth: '',
    borderStyle: '',
    borderColor: ''
  ), $options);

  @if map-get($configuration, borderSides) == 'none' {
    border: none;
  }
  @if map-get($configuration, borderSides) == 'all' {
    border: map-get($configuration, borderWidth) map-get($configuration, borderStyle) map-get($configuration, borderColor);
  }
  @if map-get($configuration, borderSides) == 'top' {
    border-top: map-get($configuration, borderWidth) map-get($configuration, borderStyle) map-get($configuration, borderColor);
  }
  @if map-get($configuration, borderSides) == 'right' {
    border-right: map-get($configuration, borderWidth) map-get($configuration, borderStyle) map-get($configuration, borderColor);
  }
  @if map-get($configuration, borderSides) == 'bottom' {
    border-bottom: map-get($configuration, borderWidth) map-get($configuration, borderStyle) map-get($configuration, borderColor);
  }
  @if map-get($configuration, borderSides) == 'left' {
    border-left: map-get($configuration, borderWidth) map-get($configuration, borderStyle) map-get($configuration, borderColor);
  }
}

@mixin fontOnly($options: ()) {
  $configuration: map-merge((
    fontFamily: '',
    fontSize: '',
    fontLineHeight: '',
    fontWeight: '',
    fontStyle: '',
    fontDecoration: ''
  ), $options);

  font-family: #{map-get($configuration, fontFamily)}, 'Arial, sans-serif';
  font-size: map-get($configuration, fontSize);
  font-weight: map-get($configuration, fontWeight);
  line-height: map-get($configuration, fontLineHeight);
  font-style: map-get($configuration, fontStyle);
  text-decoration: map-get($configuration, fontDecoration);
}