
@include fontOnly((
  fontFamily: map-get($configuration, agendaItemTimeFontFamilyDesktop),
  fontSize: map-get($configuration, agendaItemTimeFontSizeDesktop),
  fontLineHeight: map-get($configuration, agendaItemTimeLineHeightDesktop),
  fontWeight: map-get($configuration, agendaItemTimeFontWeightDesktop),
  fontStyle: map-get($configuration, agendaItemTimeItalicDesktop),
  fontDecoration: map-get($configuration, agendaItemTimeUnderlineDesktop)
));

margin-top: map-get($configuration, agendaItemTimeMarginTopDesktop);
margin-bottom: map-get($configuration, agendaItemTimeMarginBottomDesktop);
color: map-get($configuration, agendaItemTimeFontColorDesktop);

agendaItemTimeFontFamily: $agendaItemTimeFontFamily,
agendaItemTimeFontFamilyTablet: $agendaItemTimeFontFamilyTablet,
agendaItemTimeFontFamilyDesktop: $agendaItemTimeFontFamilyDesktop,
agendaItemTimeFontSize: $agendaItemTimeFontSize,
agendaItemTimeFontSizeTablet: $agendaItemTimeFontSizeTablet,
agendaItemTimeFontSizeDesktop: $agendaItemTimeFontSizeDesktop,
agendaItemTimeFontColor: $agendaItemTimeFontColor,
agendaItemTimeFontColorTablet: $agendaItemTimeFontColorTablet,
agendaItemTimeFontColorDesktop: $agendaItemTimeFontColorDesktop,
agendaItemTimeFontWeight: $agendaItemTimeFontWeight,
agendaItemTimeFontWeightTablet: $agendaItemTimeFontWeightTablet,
agendaItemTimeFontWeightDesktop: $agendaItemTimeFontWeightDesktop,
agendaItemTimeItalic: $agendaItemTimeItalic,
agendaItemTimeItalicTablet: $agendaItemTimeItalicTablet,
agendaItemTimeItalicDesktop: $agendaItemTimeItalicDesktop,
agendaItemTimeUnderline: $agendaItemTimeUnderline,
agendaItemTimeUnderlineTablet: $agendaItemTimeUnderlineTablet,
agendaItemTimeUnderlineDesktop: $agendaItemTimeUnderlineDesktop,
agendaItemTimeLineHeight: $agendaItemTimeLineHeight,
agendaItemTimeLineHeightTablet: $agendaItemTimeLineHeightTablet,
agendaItemTimeLineHeightDesktop: $agendaItemTimeLineHeightDesktop,
agendaItemTimeMarginTop: $agendaItemTimeMarginTop,
agendaItemTimeMarginTopTablet: $agendaItemTimeMarginTopTablet,
agendaItemTimeMarginTopDesktop: $agendaItemTimeMarginTopDesktop,
agendaItemTimeMarginBottom: $agendaItemTimeMarginBottom,
agendaItemTimeMarginBottomTablet: $agendaItemTimeMarginBottomTablet,
agendaItemTimeMarginBottomDesktop: $agendaItemTimeMarginBottomDesktop,
