

@include borderOnly((
  borderSides: map-get($configuration, smallHCardListItemBorderSides),
  borderWidth: map-get($configuration, smallHCardListItemBorderWidth),
  borderStyle: map-get($configuration, smallHCardListItemBorderStyle),
  borderColor: map-get($configuration, smallHCardListItemBorder)
));
border-radius: map-get($configuration, smallHCardListItemBorderRadius);

@include shadowOnly((
  shadowStyle: map-get($configuration, smallHCardListItemShadowStyle),
  shadowXOffset: map-get($configuration, smallHCardListItemShadowXoffset),
  shadowYOffset: map-get($configuration, smallHCardListItemShadowYoffset),
  shadowBlur: map-get($configuration, smallHCardListItemShadowBlur),
  shadowSpread: map-get($configuration, smallHCardListItemShadowSpread),
  shadowColor: map-get($configuration, smallHCardListItemShadowColor)
))
