/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - ABOUT APP OVERLAY
******************************/

/* 01 - ABOUT APP OVERLAY */

.overlay-about-app,
.overlay-update-notes {
  .client-info {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $highlightColor;
    }
  }

  .overlayNavbar {
    background-color: $bodyBackground;
    color: $bodyTextColor;
  }

  .overlayPanel {
    color: $bodyTextColor;

    .closeButton {
      background-color: $bodyBackground;
      color: $bodyTextColor;

      &:active:focus,
      &:focus,
      &:hover {
        background-color: $secondaryButtonHoverColor;
        color: $secondaryButtonHoverTextColor;
      }
    }
  }

  .overlayPanelContent {
    background-color: $bodyBackground;
    color: $bodyTextColor;

    .update-version {
      background-color: darken($bodyBackground, 10%);
    }
  }

  .fliplet-info {
    border-top-color: lighten($bodyTextColor, 65%);
    background-color: $bodyBackground;
    color: $bodyTextColor;

    .update-buttons {
      .check-updates {
        background-color: $primaryButtonColor;
        color: $primaryButtonTextColor;

        &:active:focus,
        &:focus,
        &:hover {
          background-color: $primaryButtonHoverColor;
          color: $primaryButtonHoverTextColor;
        }
      }
    }

    hr {
      border-top-color: lighten($bodyTextColor, 65%);
    }
  }

  .btn-link {
    color: $linkColor;

    &:focus,
    &:hover,
    &:active:focus,
    &:active:hover {
      color: $linkHoverColor;
    }
  }
  a {
    color: $linkColor;

    &:focus,
    &:hover,
    &:active:focus,
    &:active:hover {
      color: $linkHoverColor;
    }
  }
}
