/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - ABOUT APP OVERLAY
******************************/

/* 01 - ABOUT APP OVERLAY */

.overlay-about-app {
  .client-info {
    h1 {
      color: $headingOneColor;
    }
    h2 {
      color: $headingTwoColor;
    }
    h3 {
      color: $headingThreeColor;
    }
    h4 {
      color: $headingFourColor;
    }
    h5 {
      color: $headingFiveColor;
    }
    h6 {
      color: $headingSixColor;
    }
  }

  .overlayPanel {
    color: $aboutOverlayTextColor;
  }

  .overlayPanelContent {
    background-color: $aboutOverlayBackgroundClient);
    color: $aboutOverlayTextColor;
  }

  .fliplet-info {
    border-top: $aboutOverlayBorderFliplet;
    background-color: $aboutOverlayBackgroundFliplet;
    color: $aboutOverlayTextColor;

    .update-button {
      .check-updates {
        background-color: $primaryButtonColor;
        color: $primaryButtonTextColor;

        &:active:focus,
        &:focus,
        &:hover {
          background-color: $primaryButtonHoverColor;
          color: $primaryButtonHoverTextColor;
        }
      }
    }
  }

  .btn-link {
    color: $linkColor;

    &:focus,
    &:hover,
    &:active:focus,
    &:active:hover {
      color: $linkHoverColor;
    }
  }
  a {
    color: $linkColor;

    &:focus,
    &:hover,
    &:active:focus,
    &:active:hover {
      color: $linkHoverColor;
    }
  }
}
