/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - ACCORDIONS
******************************/

/* 01 - ACCORDIONS */
@mixin accordion($options: ()) {
  $configuration: map-merge((
    headingBackground: $accordionHeadingBg,
    headingText: $accordionHeadingText
  ), $options);

  color: map-get($configuration, headingtext);
  background-color: map-get($configuration, headingBackground);
}

@mixin accordionChevron($options: ()) {
  $configuration: map-merge((
    headingChevron: $accordionHeadingChevron
  ), $options);

  color: map-get($configuration, headingChevron);
}

@mixin accordionBorder($options: ()) {
  $configuration: map-merge((
    borderWidth: $accordionBorderWidth,
    borderStyle: $accordionBorderStyle,
    borderColor: $accordionBorderColor
  ), $options);

  border: map-get($configuration, borderWidth)
    map-get($configuration, borderStyle)
    map-get($configuration, borderColor);
}

.collapse-start {
  @include accordion();
  @include accordionBorder();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include accordion((
      headingBackground: $accordionHeadingBgTablet,
      headingText: $accordionHeadingTextTablet
    ));
    @include accordionBorder((
      borderWidth: $accordionBorderWidthTablet,
      borderStyle: $accordionBorderStyleTablet,
      borderColor: $accordionBorderColorTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include accordion((
      headingBackground: $accordionHeadingBgDesktop,
      headingText: $accordionHeadingTextDesktop
    ));
    @include accordionBorder((
      borderWidth: $accordionBorderWidthDesktop,
      borderStyle: $accordionBorderStyleDesktop,
      borderColor: $accordionBorderColorDesktop
    ));
  }
}

.collapse-start:after {
  @include accordionChevron();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include accordionChevron((
      headingChevron: $accordionHeadingChevronTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include accordionChevron((
      headingChevron: $accordionHeadingChevronDesktop
    ));
  }
}

.collapse-end {
  color: $bodyTextColor;
  background-color: $bodyBackground;

  @include accordionBorder();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: $bodyTextColorTablet;
    background-color: $bodyBackgroundTablet;

    @include accordionBorder((
      borderWidth: $accordionBorderWidthTablet,
      borderStyle: $accordionBorderStyleTablet,
      borderColor: $accordionBorderColorTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: $bodyTextColorDesktop;
    background-color: $bodyBackgroundDesktop;

    @include accordionBorder((
      borderWidth: $accordionBorderWidthDesktop,
      borderStyle: $accordionBorderStyleDesktop,
      borderColor: $accordionBorderColorDesktop
    ));
  }
}

.panel-group {
  .panel {
    background-color: transparent;
    @include accordionBorder();

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include accordionBorder((
        borderWidth: $accordionBorderWidthTablet,
        borderStyle: $accordionBorderStyleTablet,
        borderColor: $accordionBorderColorTablet
      ));
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include accordionBorder((
        borderWidth: $accordionBorderWidthDesktop,
        borderStyle: $accordionBorderStyleDesktop,
        borderColor: $accordionBorderColorDesktop
      ));
    }

    > .panel-title {
      @include accordion((
        headingBackground: $accordionHeadingBgActive,
        headingText: $accordionHeadingTextActive
      ));

      // Styles for tablet
      @include above($tabletBreakpoint) {
        @include accordion((
          headingBackground: $accordionHeadingBgActiveTablet,
          headingText: $accordionHeadingTextActiveTablet
        ));
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        @include accordion((
          headingBackground: $accordionHeadingBgActiveDesktop,
          headingText: $accordionHeadingTextActiveDesktop
        ));
      }

      &.collapsed {
        @include accordion();

        // Styles for tablet
        @include above($tabletBreakpoint) {
          @include accordion((
            headingBackground: $accordionHeadingBgTablet,
            headingText: $accordionHeadingTextTablet
          ));
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          @include accordion((
            headingBackground: $accordionHeadingBgDesktop,
            headingText: $accordionHeadingTextDesktop
          ));
        }

        &:after {
          @include accordionChevron();

          // Styles for tablet
          @include above($tabletBreakpoint) {
            @include accordionChevron((
              headingChevron: $accordionHeadingChevronTablet
            ));
          }

          // Styles for desktop
          @include above($desktopBreakpoint) {
            @include accordionChevron((
              headingChevron: $accordionHeadingChevronDesktop
            ));
          }
        }
      }

      &:after {
        @include accordionChevron((
          headingChevron: $accordionHeadingChevronActive
        ));

        // Styles for tablet
        @include above($tabletBreakpoint) {
          @include accordionChevron((
            headingChevron: $accordionHeadingChevronActiveTablet
          ));
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          @include accordionChevron((
            headingChevron: $accordionHeadingChevronActiveDesktop
          ));
        }
      }
    }

    .panel-body {
      background-color: $bodyBackground;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        background-color: $bodyBackgroundTablet;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        background-color: $bodyBackgroundDesktop;
      }
    }
  }
}


