/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - ACCORDIONS
******************************/

/* 01 - ACCORDIONS */

.collapse-start {
  color: $accordionHeadingText;
  background-color: $accordionHeadingBg;
  border: $accordionBorder;
}

.collapse-start:after {
  color: $accordionHeadingChevron;
}

.collapse-end {
  color: $bodyTextColor;
  background-color: $bodyBackground;
  border: $accordionBorder;
}

.panel-group {
  .panel {
    background-color: $bodyBackground;

    .panel-default {
      border: $accordionBorder;

      > .panel-title {
        color: $accordionHeadingTextActive;
        background-color: $accordionHeadingBgActive;

        &.collapsed {
          color: $accordionHeadingText;
          background-color: $accordionHeadingBg;

          &:after {
            color: $accordionHeadingChevron;
          }
        }

        &:after {
          color: $accordionHeadingChevronActive;
        }
      }
    }
  }
}


    