.app-analytics-container {
  color: $appAnalyticsTextColor;

  .analytics-box-title-block {
    color: $appAnalyticsTextColor;
  }

  .analytics-box {
    background-color: $appAnalyticsPanelColor;
  }

  .full-screen-overlay {
    background-color: $appAnalyticsOverlayColor;
  }

  .check,
  input[type="radio"]:checked ~ .check {
    border-color: $appAnalyticsTextColor;
  }

  input[type="radio"]:checked ~ .check:before {
    background-color: $appAnalyticsTextColor;
  }

  input[type="radio"]:checked + .radio-label-btn {
    background-color: $appAnalyticsTextColor;
  }

  .highcharts-axis-labels text {
    color: $appAnalyticsTextColor !important;
    fill: $appAnalyticsTextColor !important;
  }

  .highcharts-label text {
    color: $appAnalyticsTextColor !important;
    fill: $appAnalyticsTextColor !important;
  }

  .highcharts-legend-item text {
    color: $appAnalyticsTextColor !important;
    fill: $appAnalyticsTextColor !important;
  }

  .dataTables_wrapper {
    .dt-button {
      border: 1px solid $appAnalyticsTextColor;
      color: $appAnalyticsTextColor;

      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        background: $appAnalyticsTextColor;
        border: 1px solid $appAnalyticsTextColor;
        color: lighten(invert($appAnalyticsTextColor), 100%);
      }
    }
  }
}
