/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - APP LIST
******************************/

/* 01 - APP LIST */

.admin-overlay {
  .overlayNavbar {
    background: $appListLoginOverlayNavBar;
    color: $appListLoginOverlayNavBarTextColor;
  }

  .overlayPanelContent {
    background: $appListLoginOverlayColor;
    color: $appListLoginOverlayTextColor;
  }
}

.app-list {
  .loader,
  .loader:after,
  .loader:before {
    background: $appListLoader;
    color: $appListLoader;

    &:after,
    &:before {
      background: $appListLoader;
    }
  }

  .section-heading {
    color: $appListHeadingsColor;
    font-weight: $appListHeadingsWeight;
  }
}

.list.list-default {
  ul {
    & > li {
      &.cancel {
        .icon {
          .fa {
            &.cancel {
              color: $appListProgressBarColor;
            }
          }
        }
      }
      &.download {
        .icon {
          .fa {
            &.download {
              color: $appListDownloadIconColor;
            }
          }
        }
      },
      &.preparing {
        .icon {
          .fa {
            &.download {
              color: $appListPreparingIconColor;
            }
          }
        }
      }
      &.completed {
        .icon {
          .fa {
            &.completed {
              color: $appListCompletedIconColor;
            }
          }
        }
      }
      &.initial {
        .icon .fa {
          &.initial {
            color: $appListInitialIconColor;
          }
        }
      }
      .icon .fa {
        color: $listChevronColor;
      }

      .progress {
        background-color: darken($listBackgroundColor,5%);

        .progress-bar-flv {
          background-color: $appListProgressBarColor;
        }
      }
    }
  }
}

#overlay-admin,
.admin-overlay {
  .closeButton {
    background-color: $appListCloseButtonColor;
    color: $appListCloseButtonTextColor;
    border-top-color: $appListCloseButtonBorderColor;
  }
}
