/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - APP LIST
******************************/

/* @TODO: RECHECK THE LIST VARIABLES;

/* 01 - APP LIST */
@mixin appList($options: ()) {
  $configuration: map-merge((
    backgroundColor: $appListLoginOverlayColor,
    textColor: $appListLoginOverlayTextColor
  ), $options);

  background-color: map-get($configuration, backgroundColor);
  color: map-get($configuration, textColor);
}

.admin-overlay {
  .overlayNavbar {
    @include appList((
      backgroundColor: $appListLoginOverlayNavBar,
      textColor: $appListLoginOverlayNavBarTextColor
    ));

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include appList((
        backgroundColor: $appListLoginOverlayNavBarTablet,
        textColor: $appListLoginOverlayNavBarTextColorTablet
      ));
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include appList((
        backgroundColor: $appListLoginOverlayNavBarTablet,
        textColor: $appListLoginOverlayNavBarTextColorTablet
      ));
    }
  }

  .overlayPanelContent {
    @include appList();

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include appList((
        backgroundColor: $appListLoginOverlayColorTablet,
        textColor: $appListLoginOverlayTextColorTablet
      ));
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include appList((
        backgroundColor: $appListLoginOverlayColorDesktop,
        textColor: $appListLoginOverlayTextColorDesktop
      ));
    }
  }
}

.helper.app-offline-notification {
  border: 1px solid $bodyTextColor;
}

.app-list {
  .loader {
    border-left-color: $appListLoader;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      border-left-color: $appListLoaderTablet;
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      border-left-color: $appListLoaderDesktop;
    }
  }

  .section-heading {
    color: $appListHeadingsColor;
    font: $appListHeadingsWeight
      #{$appListHeadingsSize}/#{$appListHeadingsHeight}
      $appListHeadingsFontFamily;
    margin-top: $appListHeadingsMarginTop;
    margin-bottom: $appListHeadingsMarginBottom;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      color: $appListHeadingsColorTablet;
      font: $appListHeadingsWeightTablet
        #{$appListHeadingsSizeTablet}/#{$appListHeadingsHeightTablet}
        $appListHeadingsFontFamilyTablet;
      margin-top: $appListHeadingsMarginTopTablet;
      margin-bottom: $appListHeadingsMarginBottomTablet;
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      color: $appListHeadingsColorDesktop;
      font: $appListHeadingsWeightDesktop
        #{$appListHeadingsSizeDesktop}/#{$appListHeadingsHeightDesktop}
        $appListHeadingsFontFamilyDesktop;
      margin-top: $appListHeadingsMarginTopDesktop;
      margin-bottom: $appListHeadingsMarginBottomDesktop;
    }
  }

  .list {
    &.list-default {
      ul {
        & > li {
          &.linked {
            &:active {
              background-color: $listBackgroundColor;
            }
          }
          &.cancel {
            .icon {
              .fa {
                &.cancel {
                  color: $appListProgressBarColor;

                  // Styles for tablet
                  @include above($tabletBreakpoint) {
                    color: $appListProgressBarColorTablet;
                  }

                  // Styles for desktop
                  @include above($desktopBreakpoint) {
                    color: $appListProgressBarColorDesktop;
                  }
                }
              }
            }
          }
          &.download {
            .icon {
              .fa {
                &.download {
                  color: $appListDownloadIconColor;

                  // Styles for tablet
                  @include above($tabletBreakpoint) {
                    color: $appListDownloadIconColorTablet;
                  }

                  // Styles for desktop
                  @include above($desktopBreakpoint) {
                    color: $appListDownloadIconColorDesktop;
                  }
                }
              }
            }
          }
          &.preparing {
            .icon {
              .fa {
                &.download {
                  color: $appListPreparingIconColor;

                  // Styles for tablet
                  @include above($tabletBreakpoint) {
                    color: $appListPreparingIconColorTablet;
                  }

                  // Styles for desktop
                  @include above($desktopBreakpoint) {
                    color: $appListPreparingIconColorDesktop;
                  }
                }
              }
            }
          }
          &.completed {
            .icon {
              .fa {
                &.completed {
                  color: $appListCompletedIconColor;

                  // Styles for tablet
                  @include above($tabletBreakpoint) {
                    color: $appListCompletedIconColorTablet;
                  }

                  // Styles for desktop
                  @include above($desktopBreakpoint) {
                    color: $appListCompletedIconColorDesktop;
                  }
                }
              }
            }
          }
          &.initial {
            .icon .fa {
              &.initial {
                color: $appListInitialIconColor;

                // Styles for tablet
                @include above($tabletBreakpoint) {
                  color: $appListInitialIconColorTablet;
                }

                // Styles for desktop
                @include above($desktopBreakpoint) {
                  color: $appListInitialIconColorDesktop;
                }
              }
            }
          }
          .icon .fa {
            color: $listChevronColor;
          }

          .progress {
            background-color: $appListProgressBarBGColor;

            .progress-bar-flv {
              background-color: $appListProgressBarColor;
            }

            // Styles for tablet
            @include above($tabletBreakpoint) {
              background-color: $appListProgressBarBGColorTablet;

              .progress-bar-flv {
                background-color: $appListProgressBarColorTablet;
              }
            }

            // Styles for desktop
            @include above($desktopBreakpoint) {
              background-color: $appListProgressBarBGColorDesktop;

              .progress-bar-flv {
                background-color: $appListProgressBarColorDesktop;
              }
            }
          }
        }
      }
    }
  }
}

#overlay-admin,
.admin-overlay {
  .closeButton {
    @include appList((
      backgroundColor: $appListCloseButtonColor,
      textColor: $appListCloseButtonTextColor
    ));
    border-top-color: $appListCloseButtonBorderColor;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include appList((
        backgroundColor: $appListCloseButtonColorTablet,
        textColor: $appListCloseButtonTextColorTablet
      ));
      border-top-color: $appListCloseButtonBorderColorTablet;
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include appList((
        backgroundColor: $appListCloseButtonColorDesktop,
        textColor: $appListCloseButtonTextColorDesktop
      ));
      border-top-color: $appListCloseButtonBorderColorDesktop;
    }
  }
}
