.fl-audio-player .play-pause-btn {
  color: $highlightColor;
}

.sound-wave .bar {
  background-color: $highlightColor;
}

// Styles for tablet
@include above($tabletBreakpoint) {
  .fl-audio-player .play-pause-btn {
    color: $highlightColorTablet;
  }

  .sound-wave .bar {
    background-color: $highlightColorTablet;
  }
}

// Styles for desktop
@include above($desktopBreakpoint) {
  .fl-audio-player .play-pause-btn {
    color: $highlightColorDesktop;
  }

  .sound-wave .bar {
    background-color: $highlightColorDesktop;
  }
}