// Body mixin
@mixin body($options: ()) {
  $configuration: map-merge(
    (
      backgroundColor: $bodyBackground,
      fontColor: $bodyTextColor,
      fontFamily: $bodyFontFamily,
      fontSize: $bodyFontSize,
      fontWeight: $bodyFontWeight,
      fontStyle: $bodyFontStyle,
      fontLineHeight: $bodyLineHeight
    ),
    $options
  );

  background-color: map-get($configuration, backgroundColor);
  color: map-get($configuration, fontColor);
  font-family: map-get($configuration, fontFamily);
  font-size: map-get($configuration, fontSize);
  font-style: map-get($configuration, fontStyle);
  line-height: map-get($configuration, fontLineHeight);
  font-weight: map-get($configuration, fontWeight);
}

body {
  // Include styles for default mobile viewport
  @include body();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include body(
      (
        backgroundColor: $bodyBackgroundTablet,
        fontColor: $bodyTextColorTablet,
        fontFamily: $bodyFontFamilyTablet
      )
    );
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include body(
      (
        backgroundColor: $bodyBackgroundDesktop,
        fontColor: $bodyTextColorDesktop,
        fontFamily: $bodyFontFamilyDesktop
      )
    );
  }
}
