@mixin primaryButton($options: ()) {
  $configuration: map-merge((
    primaryButtonWidth: $primaryButtonWidth,
    primaryButtonColor: $primaryButtonColor,
    primaryButtonTextColor: $primaryButtonTextColor,
    primaryButtonMarginTop: $primaryButtonMarginTop,
    primaryButtonMarginRight: $primaryButtonMarginRight,
    primaryButtonMarginBottom: $primaryButtonMarginBottom,
    primaryButtonMarginLeft: $primaryButtonMarginLeft,
    primaryButtonPaddingTop: $primaryButtonPaddingTop,
    primaryButtonPaddingRight: $primaryButtonPaddingRight,
    primaryButtonPaddingBottom: $primaryButtonPaddingBottom,
    primaryButtonPaddingLeft: $primaryButtonPaddingLeft,
    primaryButtonBorderSides: $primaryButtonBorderSides,
    primaryButtonBorderWidth: $primaryButtonBorderWidth,
    primaryButtonBorderStyle: $primaryButtonBorderStyle,
    primaryButtonBorderColor: $primaryButtonBorderColor,
    primaryButtonBorderRadius: $primaryButtonBorderRadius,
    primaryButtonShadowStyle: $primaryButtonShadowStyle,
    primaryButtonShadowXoffset: $primaryButtonShadowXoffset,
    primaryButtonShadowYoffset: $primaryButtonShadowYoffset,
    primaryButtonShadowBlur: $primaryButtonShadowBlur,
    primaryButtonShadowSpread: $primaryButtonShadowSpread,
    primaryButtonShadowColor: $primaryButtonShadowColor,
    primaryButtonHoverColor: $primaryButtonHoverColor,
    primaryButtonHoverTextColor: $primaryButtonHoverTextColor,
    primaryButtonHoverBorderSides: $primaryButtonHoverBorderSides,
    primaryButtonHoverBorderWidth: $primaryButtonHoverBorderWidth,
    primaryButtonHoverBorderStyle: $primaryButtonHoverBorderStyle,
    primaryButtonHoverBorderColor: $primaryButtonHoverBorderColor,
    primaryButtonHoverBorderRadius: $primaryButtonHoverBorderRadius,
    primaryButtonHoverShadowStyle: $primaryButtonHoverShadowStyle,
    primaryButtonHoverShadowXoffset: $primaryButtonHoverShadowXoffset,
    primaryButtonHoverShadowYoffset: $primaryButtonHoverShadowYoffset,
    primaryButtonHoverShadowBlur: $primaryButtonHoverShadowBlur,
    primaryButtonHoverShadowSpread: $primaryButtonHoverShadowSpread,
    primaryButtonHoverShadowColor: $primaryButtonHoverShadowColor,
    primaryButtonWidthTablet: $primaryButtonWidthTablet,
    primaryButtonColorTablet: $primaryButtonColorTablet,
    primaryButtonTextColorTablet: $primaryButtonTextColorTablet,
    primaryButtonMarginTopTablet: $primaryButtonMarginTopTablet,
    primaryButtonMarginRightTablet: $primaryButtonMarginRightTablet,
    primaryButtonMarginBottomTablet: $primaryButtonMarginBottomTablet,
    primaryButtonMarginLeftTablet: $primaryButtonMarginLeftTablet,
    primaryButtonPaddingTopTablet: $primaryButtonPaddingTopTablet,
    primaryButtonPaddingRightTablet: $primaryButtonPaddingRightTablet,
    primaryButtonPaddingBottomTablet: $primaryButtonPaddingBottomTablet,
    primaryButtonPaddingLeftTablet: $primaryButtonPaddingLeftTablet,
    primaryButtonBorderSidesTablet: $primaryButtonBorderSidesTablet,
    primaryButtonBorderWidthTablet: $primaryButtonBorderWidthTablet,
    primaryButtonBorderStyleTablet: $primaryButtonBorderStyleTablet,
    primaryButtonBorderColorTablet: $primaryButtonBorderColorTablet,
    primaryButtonBorderRadiusTablet: $primaryButtonBorderRadiusTablet,
    primaryButtonShadowStyleTablet: $primaryButtonShadowStyleTablet,
    primaryButtonShadowXoffsetTablet: $primaryButtonShadowXoffsetTablet,
    primaryButtonShadowYoffsetTablet: $primaryButtonShadowYoffsetTablet,
    primaryButtonShadowBlurTablet: $primaryButtonShadowBlurTablet,
    primaryButtonShadowSpreadTablet: $primaryButtonShadowSpreadTablet,
    primaryButtonShadowColorTablet: $primaryButtonShadowColorTablet,
    primaryButtonHoverColorTablet: $primaryButtonHoverColorTablet,
    primaryButtonHoverTextColorTablet: $primaryButtonHoverTextColorTablet,
    primaryButtonHoverBorderSidesTablet: $primaryButtonHoverBorderSidesTablet,
    primaryButtonHoverBorderWidthTablet: $primaryButtonHoverBorderWidthTablet,
    primaryButtonHoverBorderStyleTablet: $primaryButtonHoverBorderStyleTablet,
    primaryButtonHoverBorderColorTablet: $primaryButtonHoverBorderColorTablet,
    primaryButtonHoverBorderRadiusTablet: $primaryButtonHoverBorderRadiusTablet,
    primaryButtonHoverShadowStyleTablet: $primaryButtonHoverShadowStyleTablet,
    primaryButtonHoverShadowXoffsetTablet: $primaryButtonHoverShadowXoffsetTablet,
    primaryButtonHoverShadowYoffsetTablet: $primaryButtonHoverShadowYoffsetTablet,
    primaryButtonHoverShadowBlurTablet: $primaryButtonHoverShadowBlurTablet,
    primaryButtonHoverShadowSpreadTablet: $primaryButtonHoverShadowSpreadTablet,
    primaryButtonHoverShadowColorTablet: $primaryButtonHoverShadowColorTablet,
    primaryButtonWidthDesktop: $primaryButtonWidthDesktop,
    primaryButtonColorDesktop: $primaryButtonColorDesktop,
    primaryButtonTextColorDesktop: $primaryButtonTextColorDesktop,
    primaryButtonMarginTopDesktop: $primaryButtonMarginTopDesktop,
    primaryButtonMarginRightDesktop: $primaryButtonMarginRightDesktop,
    primaryButtonMarginBottomDesktop: $primaryButtonMarginBottomDesktop,
    primaryButtonMarginLeftDesktop: $primaryButtonMarginLeftDesktop,
    primaryButtonPaddingTopDesktop: $primaryButtonPaddingTopDesktop,
    primaryButtonPaddingRightDesktop: $primaryButtonPaddingRightDesktop,
    primaryButtonPaddingBottomDesktop: $primaryButtonPaddingBottomDesktop,
    primaryButtonPaddingLeftDesktop: $primaryButtonPaddingLeftDesktop,
    primaryButtonBorderSidesDesktop: $primaryButtonBorderSidesDesktop,
    primaryButtonBorderWidthDesktop: $primaryButtonBorderWidthDesktop,
    primaryButtonBorderStyleDesktop: $primaryButtonBorderStyleDesktop,
    primaryButtonBorderColorDesktop: $primaryButtonBorderColorDesktop,
    primaryButtonBorderRadiusDesktop: $primaryButtonBorderRadiusDesktop,
    primaryButtonShadowStyleDesktop: $primaryButtonShadowStyleDesktop,
    primaryButtonShadowXoffsetDesktop: $primaryButtonShadowXoffsetDesktop,
    primaryButtonShadowYoffsetDesktop: $primaryButtonShadowYoffsetDesktop,
    primaryButtonShadowBlurDesktop: $primaryButtonShadowBlurDesktop,
    primaryButtonShadowSpreadDesktop: $primaryButtonShadowSpreadDesktop,
    primaryButtonShadowColorDesktop: $primaryButtonShadowColorDesktop,
    primaryButtonHoverColorDesktop: $primaryButtonHoverColorDesktop,
    primaryButtonHoverTextColorDesktop: $primaryButtonHoverTextColorDesktop,
    primaryButtonHoverBorderSidesDesktop: $primaryButtonHoverBorderSidesDesktop,
    primaryButtonHoverBorderWidthDesktop: $primaryButtonHoverBorderWidthDesktop,
    primaryButtonHoverBorderStyleDesktop: $primaryButtonHoverBorderStyleDesktop,
    primaryButtonHoverBorderColorDesktop: $primaryButtonHoverBorderColorDesktop,
    primaryButtonHoverBorderRadiusDesktop: $primaryButtonHoverBorderRadiusDesktop,
    primaryButtonHoverShadowStyleDesktop: $primaryButtonHoverShadowStyleDesktop,
    primaryButtonHoverShadowXoffsetDesktop: $primaryButtonHoverShadowXoffsetDesktop,
    primaryButtonHoverShadowYoffsetDesktop: $primaryButtonHoverShadowYoffsetDesktop,
    primaryButtonHoverShadowBlurDesktop: $primaryButtonHoverShadowBlurDesktop,
    primaryButtonHoverShadowSpreadDesktop: $primaryButtonHoverShadowSpreadDesktop,
    primaryButtonHoverShadowColorDesktop: $primaryButtonHoverShadowColorDesktop
  ), $options);

  .btn {
    &.btn-primary {
      width: map-get($configuration, primaryButtonWidth);
      background-color: map-get($configuration, primaryButtonColor);
      color: map-get($configuration, primaryButtonTextColor);
      margin: map-get($configuration, primaryButtonMarginTop)
        map-get($configuration, primaryButtonMarginRight)
        map-get($configuration, primaryButtonMarginBottom)
        map-get($configuration, primaryButtonMarginLeft);
      padding: map-get($configuration, primaryButtonPaddingTop)
        map-get($configuration, primaryButtonPaddingRight)
        map-get($configuration, primaryButtonPaddingBottom)
        map-get($configuration, primaryButtonPaddingLeft);
      border-radius: map-get($configuration, primaryButtonBorderRadius);

      @include borderOnly((
        borderSides: map-get($configuration, primaryButtonBorderSides),
        borderWidth: map-get($configuration, primaryButtonBorderWidth),
        borderStyle: map-get($configuration, primaryButtonBorderStyle),
        borderColor: map-get($configuration, primaryButtonBorderColor)
      ));

      @include shadowOnly((
        shadowStyle: map-get($configuration, primaryButtonShadowStyle),
        shadowXOffset: map-get($configuration, primaryButtonShadowXoffset),
        shadowYOffset: map-get($configuration, primaryButtonShadowYoffset),
        shadowBlur: map-get($configuration, primaryButtonShadowBlur),
        shadowSpread: map-get($configuration, primaryButtonShadowSpread),
        shadowColor: map-get($configuration, primaryButtonShadowColor)
      ));

      &:focus,
      &:hover,
      &:active:focus,
      &:active:hover {
        background-color: map-get($configuration, primaryButtonHoverColor);
        color: map-get($configuration, primaryButtonHoverTextColor);
        border-radius: map-get($configuration, primaryButtonHoverBorderRadius);

        @include borderOnly((
          borderSides: map-get($configuration, primaryButtonHoverBorderSides),
          borderWidth: map-get($configuration, primaryButtonHoverBorderWidth),
          borderStyle: map-get($configuration, primaryButtonHoverBorderStyle),
          borderColor: map-get($configuration, primaryButtonHoverBorderColor)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, primaryButtonHoverShadowStyle),
          shadowXOffset: map-get($configuration, primaryButtonHoverShadowXoffset),
          shadowYOffset: map-get($configuration, primaryButtonHoverShadowYoffset),
          shadowBlur: map-get($configuration, primaryButtonHoverShadowBlur),
          shadowSpread: map-get($configuration, primaryButtonHoverShadowSpread),
          shadowColor: map-get($configuration, primaryButtonHoverShadowColor)
        ));
      }

      // Styles for tablet
      @include above($tabletBreakpoint) {
        width: map-get($configuration, primaryButtonWidthTablet);
        background-color: map-get($configuration, primaryButtonColorTablet);
        color: map-get($configuration, primaryButtonTextColorTablet);
        margin: map-get($configuration, primaryButtonMarginTopTablet)
          map-get($configuration, primaryButtonMarginRightTablet)
          map-get($configuration, primaryButtonMarginBottomTablet)
          map-get($configuration, primaryButtonMarginLeftTablet);
        padding: map-get($configuration, primaryButtonPaddingTopTablet)
          map-get($configuration, primaryButtonPaddingRightTablet)
          map-get($configuration, primaryButtonPaddingBottomTablet)
          map-get($configuration, primaryButtonPaddingLeftTablet);
        border-radius: map-get($configuration, primaryButtonBorderRadiusTablet);

        @include borderOnly((
          borderSides: map-get($configuration, primaryButtonBorderSidesTablet),
          borderWidth: map-get($configuration, primaryButtonBorderWidthTablet),
          borderStyle: map-get($configuration, primaryButtonBorderStyleTablet),
          borderColor: map-get($configuration, primaryButtonBorderColorTablet)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, primaryButtonShadowStyleTablet),
          shadowXOffset: map-get($configuration, primaryButtonShadowXoffsetTablet),
          shadowYOffset: map-get($configuration, primaryButtonShadowYoffsetTablet),
          shadowBlur: map-get($configuration, primaryButtonShadowBlurTablet),
          shadowSpread: map-get($configuration, primaryButtonShadowSpreadTablet),
          shadowColor: map-get($configuration, primaryButtonShadowColorTablet)
        ));

        &:focus,
        &:hover,
        &:active:focus,
        &:active:hover {
          background-color: map-get($configuration, primaryButtonHoverColorTablet);
          color: map-get($configuration, primaryButtonHoverTextColorTablet);
          border-radius: map-get($configuration, primaryButtonHoverBorderRadiusTablet);

          @include borderOnly((
            borderSides: map-get($configuration, primaryButtonHoverBorderSidesTablet),
            borderWidth: map-get($configuration, primaryButtonHoverBorderWidthTablet),
            borderStyle: map-get($configuration, primaryButtonHoverBorderStyleTablet),
            borderColor: map-get($configuration, primaryButtonHoverBorderColorTablet)
          ));

          @include shadowOnly((
            shadowStyle: map-get($configuration, primaryButtonHoverShadowStyleTablet),
            shadowXOffset: map-get($configuration, primaryButtonHoverShadowXoffsetTablet),
            shadowYOffset: map-get($configuration, primaryButtonHoverShadowYoffsetTablet),
            shadowBlur: map-get($configuration, primaryButtonHoverShadowBlurTablet),
            shadowSpread: map-get($configuration, primaryButtonHoverShadowSpreadTablet),
            shadowColor: map-get($configuration, primaryButtonHoverShadowColorTablet)
          ));
        }
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        width: map-get($configuration, primaryButtonWidthDesktop);
        background-color: map-get($configuration, primaryButtonColorDesktop);
        color: map-get($configuration, primaryButtonTextColorDesktop);
        margin: map-get($configuration, primaryButtonMarginTopDesktop)
          map-get($configuration, primaryButtonMarginRightDesktop)
          map-get($configuration, primaryButtonMarginBottomDesktop)
          map-get($configuration, primaryButtonMarginLeftDesktop);
        padding: map-get($configuration, primaryButtonPaddingTopDesktop)
          map-get($configuration, primaryButtonPaddingRightDesktop)
          map-get($configuration, primaryButtonPaddingBottomDesktop)
          map-get($configuration, primaryButtonPaddingLeftDesktop);
        border-radius: map-get($configuration, primaryButtonBorderRadiusDesktop);

        @include borderOnly((
          borderSides: map-get($configuration, primaryButtonBorderSidesDesktop),
          borderWidth: map-get($configuration, primaryButtonBorderWidthDesktop),
          borderStyle: map-get($configuration, primaryButtonBorderStyleDesktop),
          borderColor: map-get($configuration, primaryButtonBorderColorDesktop)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, primaryButtonShadowStyleDesktop),
          shadowXOffset: map-get($configuration, primaryButtonShadowXoffsetDesktop),
          shadowYOffset: map-get($configuration, primaryButtonShadowYoffsetDesktop),
          shadowBlur: map-get($configuration, primaryButtonShadowBlurDesktop),
          shadowSpread: map-get($configuration, primaryButtonShadowSpreadDesktop),
          shadowColor: map-get($configuration, primaryButtonShadowColorDesktop)
        ));

        &:focus,
        &:hover,
        &:active:focus,
        &:active:hover {
          background-color: map-get($configuration, primaryButtonHoverColorDesktop);
          color: map-get($configuration, primaryButtonHoverTextColorDesktop);
          border-radius: map-get($configuration, primaryButtonHoverBorderRadiusDesktop);

          @include borderOnly((
            borderSides: map-get($configuration, primaryButtonHoverBorderSidesDesktop),
            borderWidth: map-get($configuration, primaryButtonHoverBorderWidthDesktop),
            borderStyle: map-get($configuration, primaryButtonHoverBorderStyleDesktop),
            borderColor: map-get($configuration, primaryButtonHoverBorderColorDesktop)
          ));

          @include shadowOnly((
            shadowStyle: map-get($configuration, primaryButtonHoverShadowStyleDesktop),
            shadowXOffset: map-get($configuration, primaryButtonHoverShadowXoffsetDesktop),
            shadowYOffset: map-get($configuration, primaryButtonHoverShadowYoffsetDesktop),
            shadowBlur: map-get($configuration, primaryButtonHoverShadowBlurDesktop),
            shadowSpread: map-get($configuration, primaryButtonHoverShadowSpreadDesktop),
            shadowColor: map-get($configuration, primaryButtonHoverShadowColorDesktop)
          ));
        }
      }
    }
  }
}

@mixin secondaryButton($options: ()) {
  $configuration: map-merge((
    secondaryButtonWidth: $secondaryButtonWidth,
    secondaryButtonColor: $secondaryButtonColor,
    secondaryButtonTextColor: $secondaryButtonTextColor,
    secondaryButtonMarginTop: $secondaryButtonMarginTop,
    secondaryButtonMarginRight: $secondaryButtonMarginRight,
    secondaryButtonMarginBottom: $secondaryButtonMarginBottom,
    secondaryButtonMarginLeft: $secondaryButtonMarginLeft,
    secondaryButtonPaddingTop: $secondaryButtonPaddingTop,
    secondaryButtonPaddingRight: $secondaryButtonPaddingRight,
    secondaryButtonPaddingBottom: $secondaryButtonPaddingBottom,
    secondaryButtonPaddingLeft: $secondaryButtonPaddingLeft,
    secondaryButtonBorderSides: $secondaryButtonBorderSides,
    secondaryButtonBorderWidth: $secondaryButtonBorderWidth,
    secondaryButtonBorderStyle: $secondaryButtonBorderStyle,
    secondaryButtonBorderColor: $secondaryButtonBorderColor,
    secondaryButtonBorderRadius: $secondaryButtonBorderRadius,
    secondaryButtonShadowStyle: $secondaryButtonShadowStyle,
    secondaryButtonShadowXoffset: $secondaryButtonShadowXoffset,
    secondaryButtonShadowYoffset: $secondaryButtonShadowYoffset,
    secondaryButtonShadowBlur: $secondaryButtonShadowBlur,
    secondaryButtonShadowSpread: $secondaryButtonShadowSpread,
    secondaryButtonShadowColor: $secondaryButtonShadowColor,
    secondaryButtonHoverColor: $secondaryButtonHoverColor,
    secondaryButtonHoverTextColor: $secondaryButtonHoverTextColor,
    secondaryButtonHoverBorderSides: $secondaryButtonHoverBorderSides,
    secondaryButtonHoverBorderWidth: $secondaryButtonHoverBorderWidth,
    secondaryButtonHoverBorderStyle: $secondaryButtonHoverBorderStyle,
    secondaryButtonHoverBorderColor: $secondaryButtonHoverBorderColor,
    secondaryButtonHoverBorderRadius: $secondaryButtonHoverBorderRadius,
    secondaryButtonHoverShadowStyle: $secondaryButtonHoverShadowStyle,
    secondaryButtonHoverShadowXoffset: $secondaryButtonHoverShadowXoffset,
    secondaryButtonHoverShadowYoffset: $secondaryButtonHoverShadowYoffset,
    secondaryButtonHoverShadowBlur: $secondaryButtonHoverShadowBlur,
    secondaryButtonHoverShadowSpread: $secondaryButtonHoverShadowSpread,
    secondaryButtonHoverShadowColor: $secondaryButtonHoverShadowColor,
    secondaryButtonWidthTablet: $secondaryButtonWidthTablet,
    secondaryButtonColorTablet: $secondaryButtonColorTablet,
    secondaryButtonTextColorTablet: $secondaryButtonTextColorTablet,
    secondaryButtonMarginTopTablet: $secondaryButtonMarginTopTablet,
    secondaryButtonMarginRightTablet: $secondaryButtonMarginRightTablet,
    secondaryButtonMarginBottomTablet: $secondaryButtonMarginBottomTablet,
    secondaryButtonMarginLeftTablet: $secondaryButtonMarginLeftTablet,
    secondaryButtonPaddingTopTablet: $secondaryButtonPaddingTopTablet,
    secondaryButtonPaddingRightTablet: $secondaryButtonPaddingRightTablet,
    secondaryButtonPaddingBottomTablet: $secondaryButtonPaddingBottomTablet,
    secondaryButtonPaddingLeftTablet: $secondaryButtonPaddingLeftTablet,
    secondaryButtonBorderSidesTablet: $secondaryButtonBorderSidesTablet,
    secondaryButtonBorderWidthTablet: $secondaryButtonBorderWidthTablet,
    secondaryButtonBorderStyleTablet: $secondaryButtonBorderStyleTablet,
    secondaryButtonBorderColorTablet: $secondaryButtonBorderColorTablet,
    secondaryButtonBorderRadiusTablet: $secondaryButtonBorderRadiusTablet,
    secondaryButtonShadowStyleTablet: $secondaryButtonShadowStyleTablet,
    secondaryButtonShadowXoffsetTablet: $secondaryButtonShadowXoffsetTablet,
    secondaryButtonShadowYoffsetTablet: $secondaryButtonShadowYoffsetTablet,
    secondaryButtonShadowBlurTablet: $secondaryButtonShadowBlurTablet,
    secondaryButtonShadowSpreadTablet: $secondaryButtonShadowSpreadTablet,
    secondaryButtonShadowColorTablet: $secondaryButtonShadowColorTablet,
    secondaryButtonHoverColorTablet: $secondaryButtonHoverColorTablet,
    secondaryButtonHoverTextColorTablet: $secondaryButtonHoverTextColorTablet,
    secondaryButtonHoverBorderSidesTablet: $secondaryButtonHoverBorderSidesTablet,
    secondaryButtonHoverBorderWidthTablet: $secondaryButtonHoverBorderWidthTablet,
    secondaryButtonHoverBorderStyleTablet: $secondaryButtonHoverBorderStyleTablet,
    secondaryButtonHoverBorderColorTablet: $secondaryButtonHoverBorderColorTablet,
    secondaryButtonHoverBorderRadiusTablet: $secondaryButtonHoverBorderRadiusTablet,
    secondaryButtonHoverShadowStyleTablet: $secondaryButtonHoverShadowStyleTablet,
    secondaryButtonHoverShadowXoffsetTablet: $secondaryButtonHoverShadowXoffsetTablet,
    secondaryButtonHoverShadowYoffsetTablet: $secondaryButtonHoverShadowYoffsetTablet,
    secondaryButtonHoverShadowBlurTablet: $secondaryButtonHoverShadowBlurTablet,
    secondaryButtonHoverShadowSpreadTablet: $secondaryButtonHoverShadowSpreadTablet,
    secondaryButtonHoverShadowColorTablet: $secondaryButtonHoverShadowColorTablet,
    secondaryButtonWidthDesktop: $secondaryButtonWidthDesktop,
    secondaryButtonColorDesktop: $secondaryButtonColorDesktop,
    secondaryButtonTextColorDesktop: $secondaryButtonTextColorDesktop,
    secondaryButtonMarginTopDesktop: $secondaryButtonMarginTopDesktop,
    secondaryButtonMarginRightDesktop: $secondaryButtonMarginRightDesktop,
    secondaryButtonMarginBottomDesktop: $secondaryButtonMarginBottomDesktop,
    secondaryButtonMarginLeftDesktop: $secondaryButtonMarginLeftDesktop,
    secondaryButtonPaddingTopDesktop: $secondaryButtonPaddingTopDesktop,
    secondaryButtonPaddingRightDesktop: $secondaryButtonPaddingRightDesktop,
    secondaryButtonPaddingBottomDesktop: $secondaryButtonPaddingBottomDesktop,
    secondaryButtonPaddingLeftDesktop: $secondaryButtonPaddingLeftDesktop,
    secondaryButtonBorderSidesDesktop: $secondaryButtonBorderSidesDesktop,
    secondaryButtonBorderWidthDesktop: $secondaryButtonBorderWidthDesktop,
    secondaryButtonBorderStyleDesktop: $secondaryButtonBorderStyleDesktop,
    secondaryButtonBorderColorDesktop: $secondaryButtonBorderColorDesktop,
    secondaryButtonBorderRadiusDesktop: $secondaryButtonBorderRadiusDesktop,
    secondaryButtonShadowStyleDesktop: $secondaryButtonShadowStyleDesktop,
    secondaryButtonShadowXoffsetDesktop: $secondaryButtonShadowXoffsetDesktop,
    secondaryButtonShadowYoffsetDesktop: $secondaryButtonShadowYoffsetDesktop,
    secondaryButtonShadowBlurDesktop: $secondaryButtonShadowBlurDesktop,
    secondaryButtonShadowSpreadDesktop: $secondaryButtonShadowSpreadDesktop,
    secondaryButtonShadowColorDesktop: $secondaryButtonShadowColorDesktop,
    secondaryButtonHoverColorDesktop: $secondaryButtonHoverColorDesktop,
    secondaryButtonHoverTextColorDesktop: $secondaryButtonHoverTextColorDesktop,
    secondaryButtonHoverBorderSidesDesktop: $secondaryButtonHoverBorderSidesDesktop,
    secondaryButtonHoverBorderWidthDesktop: $secondaryButtonHoverBorderWidthDesktop,
    secondaryButtonHoverBorderStyleDesktop: $secondaryButtonHoverBorderStyleDesktop,
    secondaryButtonHoverBorderColorDesktop: $secondaryButtonHoverBorderColorDesktop,
    secondaryButtonHoverBorderRadiusDesktop: $secondaryButtonHoverBorderRadiusDesktop,
    secondaryButtonHoverShadowStyleDesktop: $secondaryButtonHoverShadowStyleDesktop,
    secondaryButtonHoverShadowXoffsetDesktop: $secondaryButtonHoverShadowXoffsetDesktop,
    secondaryButtonHoverShadowYoffsetDesktop: $secondaryButtonHoverShadowYoffsetDesktop,
    secondaryButtonHoverShadowBlurDesktop: $secondaryButtonHoverShadowBlurDesktop,
    secondaryButtonHoverShadowSpreadDesktop: $secondaryButtonHoverShadowSpreadDesktop,
    secondaryButtonHoverShadowColorDesktop: $secondaryButtonHoverShadowColorDesktop
  ), $options);

  .btn {
    &.btn-secondary {
      width: map-get($configuration, secondaryButtonWidth);
      background-color: map-get($configuration, secondaryButtonColor);
      color: map-get($configuration, secondaryButtonTextColor);
      margin: map-get($configuration, secondaryButtonMarginTop)
        map-get($configuration, secondaryButtonMarginRight)
        map-get($configuration, secondaryButtonMarginBottom)
        map-get($configuration, secondaryButtonMarginLeft);
      padding: map-get($configuration, secondaryButtonPaddingTop)
        map-get($configuration, secondaryButtonPaddingRight)
        map-get($configuration, secondaryButtonPaddingBottom)
        map-get($configuration, secondaryButtonPaddingLeft);
      border-radius: map-get($configuration, secondaryButtonBorderRadius);

      @include borderOnly((
        borderSides: map-get($configuration, secondaryButtonBorderSides),
        borderWidth: map-get($configuration, secondaryButtonBorderWidth),
        borderStyle: map-get($configuration, secondaryButtonBorderStyle),
        borderColor: map-get($configuration, secondaryButtonBorderColor)
      ));

      @include shadowOnly((
        shadowStyle: map-get($configuration, secondaryButtonShadowStyle),
        shadowXOffset: map-get($configuration, secondaryButtonShadowXoffset),
        shadowYOffset: map-get($configuration, secondaryButtonShadowYoffset),
        shadowBlur: map-get($configuration, secondaryButtonShadowBlur),
        shadowSpread: map-get($configuration, secondaryButtonShadowSpread),
        shadowColor: map-get($configuration, secondaryButtonShadowColor)
      ));

      &:focus,
      &:hover,
      &:active:focus,
      &:active:hover {
        background-color: map-get($configuration, secondaryButtonHoverColor);
        color: map-get($configuration, secondaryButtonHoverTextColor);
        border-radius: map-get($configuration, secondaryButtonHoverBorderRadius);

        @include borderOnly((
          borderSides: map-get($configuration, secondaryButtonHoverBorderSides),
          borderWidth: map-get($configuration, secondaryButtonHoverBorderWidth),
          borderStyle: map-get($configuration, secondaryButtonHoverBorderStyle),
          borderColor: map-get($configuration, secondaryButtonHoverBorderColor)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, secondaryButtonHoverShadowStyle),
          shadowXOffset: map-get($configuration, secondaryButtonHoverShadowXoffset),
          shadowYOffset: map-get($configuration, secondaryButtonHoverShadowYoffset),
          shadowBlur: map-get($configuration, secondaryButtonHoverShadowBlur),
          shadowSpread: map-get($configuration, secondaryButtonHoverShadowSpread),
          shadowColor: map-get($configuration, secondaryButtonHoverShadowColor)
        ));
      }

      // Styles for tablet
      @include above($tabletBreakpoint) {
        width: map-get($configuration, secondaryButtonWidthTablet);
        background-color: map-get($configuration, secondaryButtonColorTablet);
        color: map-get($configuration, secondaryButtonTextColorTablet);
        margin: map-get($configuration, secondaryButtonMarginTopTablet)
          map-get($configuration, secondaryButtonMarginRightTablet)
          map-get($configuration, secondaryButtonMarginBottomTablet)
          map-get($configuration, secondaryButtonMarginLeftTablet);
        padding: map-get($configuration, secondaryButtonPaddingTopTablet)
          map-get($configuration, secondaryButtonPaddingRightTablet)
          map-get($configuration, secondaryButtonPaddingBottomTablet)
          map-get($configuration, secondaryButtonPaddingLeftTablet);
        border-radius: map-get($configuration, secondaryButtonBorderRadiusTablet);

        @include borderOnly((
          borderSides: map-get($configuration, secondaryButtonBorderSidesTablet),
          borderWidth: map-get($configuration, secondaryButtonBorderWidthTablet),
          borderStyle: map-get($configuration, secondaryButtonBorderStyleTablet),
          borderColor: map-get($configuration, secondaryButtonBorderColorTablet)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, secondaryButtonShadowStyleTablet),
          shadowXOffset: map-get($configuration, secondaryButtonShadowXoffsetTablet),
          shadowYOffset: map-get($configuration, secondaryButtonShadowYoffsetTablet),
          shadowBlur: map-get($configuration, secondaryButtonShadowBlurTablet),
          shadowSpread: map-get($configuration, secondaryButtonShadowSpreadTablet),
          shadowColor: map-get($configuration, secondaryButtonShadowColorTablet)
        ));

        &:focus,
        &:hover,
        &:active:focus,
        &:active:hover {
          background-color: map-get($configuration, secondaryButtonHoverColorTablet);
          color: map-get($configuration, secondaryButtonHoverTextColorTablet);
          border-radius: map-get($configuration, secondaryButtonHoverBorderRadiusTablet);

          @include borderOnly((
            borderSides: map-get($configuration, secondaryButtonHoverBorderSidesTablet),
            borderWidth: map-get($configuration, secondaryButtonHoverBorderWidthTablet),
            borderStyle: map-get($configuration, secondaryButtonHoverBorderStyleTablet),
            borderColor: map-get($configuration, secondaryButtonHoverBorderColorTablet)
          ));

          @include shadowOnly((
            shadowStyle: map-get($configuration, secondaryButtonHoverShadowStyleTablet),
            shadowXOffset: map-get($configuration, secondaryButtonHoverShadowXoffsetTablet),
            shadowYOffset: map-get($configuration, secondaryButtonHoverShadowYoffsetTablet),
            shadowBlur: map-get($configuration, secondaryButtonHoverShadowBlurTablet),
            shadowSpread: map-get($configuration, secondaryButtonHoverShadowSpreadTablet),
            shadowColor: map-get($configuration, secondaryButtonHoverShadowColorTablet)
          ));
        }
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        width: map-get($configuration, secondaryButtonWidthDesktop);
        background-color: map-get($configuration, secondaryButtonColorDesktop);
        color: map-get($configuration, secondaryButtonTextColorDesktop);
        margin: map-get($configuration, secondaryButtonMarginTopDesktop)
          map-get($configuration, secondaryButtonMarginRightDesktop)
          map-get($configuration, secondaryButtonMarginBottomDesktop)
          map-get($configuration, secondaryButtonMarginLeftDesktop);
        padding: map-get($configuration, secondaryButtonPaddingTopDesktop)
          map-get($configuration, secondaryButtonPaddingRightDesktop)
          map-get($configuration, secondaryButtonPaddingBottomDesktop)
          map-get($configuration, secondaryButtonPaddingLeftDesktop);
        border-radius: map-get($configuration, secondaryButtonBorderRadiusDesktop);

        @include borderOnly((
          borderSides: map-get($configuration, secondaryButtonBorderSidesDesktop),
          borderWidth: map-get($configuration, secondaryButtonBorderWidthDesktop),
          borderStyle: map-get($configuration, secondaryButtonBorderStyleDesktop),
          borderColor: map-get($configuration, secondaryButtonBorderColorDesktop)
        ));

        @include shadowOnly((
          shadowStyle: map-get($configuration, secondaryButtonShadowStyleDesktop),
          shadowXOffset: map-get($configuration, secondaryButtonShadowXoffsetDesktop),
          shadowYOffset: map-get($configuration, secondaryButtonShadowYoffsetDesktop),
          shadowBlur: map-get($configuration, secondaryButtonShadowBlurDesktop),
          shadowSpread: map-get($configuration, secondaryButtonShadowSpreadDesktop),
          shadowColor: map-get($configuration, secondaryButtonShadowColorDesktop)
        ));

        &:focus,
        &:hover,
        &:active:focus,
        &:active:hover {
          background-color: map-get($configuration, secondaryButtonHoverColorDesktop);
          color: map-get($configuration, secondaryButtonHoverTextColorDesktop);
          border-radius: map-get($configuration, secondaryButtonHoverBorderRadiusDesktop);

          @include borderOnly((
            borderSides: map-get($configuration, secondaryButtonHoverBorderSidesDesktop),
            borderWidth: map-get($configuration, secondaryButtonHoverBorderWidthDesktop),
            borderStyle: map-get($configuration, secondaryButtonHoverBorderStyleDesktop),
            borderColor: map-get($configuration, secondaryButtonHoverBorderColorDesktop)
          ));

          @include shadowOnly((
            shadowStyle: map-get($configuration, secondaryButtonHoverShadowStyleDesktop),
            shadowXOffset: map-get($configuration, secondaryButtonHoverShadowXoffsetDesktop),
            shadowYOffset: map-get($configuration, secondaryButtonHoverShadowYoffsetDesktop),
            shadowBlur: map-get($configuration, secondaryButtonHoverShadowBlurDesktop),
            shadowSpread: map-get($configuration, secondaryButtonHoverShadowSpreadDesktop),
            shadowColor: map-get($configuration, secondaryButtonHoverShadowColorDesktop)
          ));
        }
      }
    }
  }
}

@include primaryButton();
@include secondaryButton();

.btn {
  &.btn-primary,
  &.btn-secondary {
    &.disabled,
    &[disabled] {
      opacity: 0.65;
      pointer-events: none;
    }
  }
}
