/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - COLUMN CHART
******************************/

/* 01 - COLUMN CHART */

.highcharts-background {
  fill: none !important;
}

.highcharts-axis-line {
  stroke: lighten($bodyTextColor, 25%);
}

.highcharts-axis-title {
  fill: $bodyTextColor !important;
  color: $bodyTextColor !important;
}

.highcharts-label text {
  color: lighten($bodyTextColor, 25%) !important;
  fill: lighten($bodyTextColor, 25%) !important;
  text-shadow: none !important;
}

.highcharts-axis-labels text {
  color: lighten($bodyTextColor, 10%) !important;
  fill: lighten($bodyTextColor, 10%) !important;
}

.highcharts-legend-item text {
  color: $bodyTextColor !important;
  fill: $bodyTextColor !important;
}

.chart-column-updatedAt,
.chart-column-total {
  color: lighten($bodyTextColor, 50%);
}
.chart-column-updatedAt > .updatedAt,
.chart-column-total > .total {
  color: lighten($bodyTextColor, 10%);
}

.highcharts-tooltip-box {
  fill: rgba($bodyBackground, 0.75) !important;
}
