/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - COLUMN CHART
******************************/

/* 01 - COLUMN CHART */

.highcharts-background {
  fill: none !important;
}

.highcharts-axis-line {
  stroke: lighten($bodyTextColor, 25%);

  // Styles for tablet
  @include above($tabletBreakpoint) {
    stroke: lighten($bodyTextColorTablet, 25%);
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    stroke: lighten($bodyTextColorDesktop, 25%);
  }
}

.highcharts-axis-title {
  fill: $bodyTextColor !important;
  color: $bodyTextColor !important;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    fill: $bodyTextColorTablet !important;
    color: $bodyTextColorTablet !important;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    fill: $bodyTextColorDesktop !important;
    color: $bodyTextColorDesktop !important;
  }
}

.highcharts-label text {
  color: lighten($bodyTextColor, 25%) !important;
  fill: lighten($bodyTextColor, 25%) !important;
  text-shadow: none !important;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: lighten($bodyTextColorTablet, 25%) !important;
    fill: lighten($bodyTextColorTablet, 25%) !important;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: lighten($bodyTextColorDesktop, 25%) !important;
    fill: lighten($bodyTextColorDesktop, 25%) !important;
  }
}

.highcharts-axis-labels text {
  color: lighten($bodyTextColor, 10%) !important;
  fill: lighten($bodyTextColor, 10%) !important;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: lighten($bodyTextColorTablet, 10%) !important;
    fill: lighten($bodyTextColorTablet, 10%) !important;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: lighten($bodyTextColorDesktop, 10%) !important;
    fill: lighten($bodyTextColorDesktop, 10%) !important;
  }
}

.highcharts-legend-item text {
  color: $bodyTextColor !important;
  fill: $bodyTextColor !important;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: $bodyTextColorTablet !important;
    fill: $bodyTextColorTablet !important;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: $bodyTextColorDesktop !important;
    fill: $bodyTextColorDesktop !important;
  }
}

.chart-column-updatedAt,
.chart-column-total {
  color: lighten($bodyTextColor, 50%);

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: lighten($bodyTextColorTablet, 50%);
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: lighten($bodyTextColorDesktop, 50%);
  }
}
.chart-column-updatedAt > .updatedAt,
.chart-column-total > .total {
  color: lighten($bodyTextColor, 10%);

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: lighten($bodyTextColorTablet, 10%);
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: lighten($bodyTextColorDesktop, 10%);
  }
}

.highcharts-tooltip-box {
  fill: rgba($bodyBackground, 0.75) !important;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    fill: rgba($bodyTextColorTablet, 0.75) !important;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    fill: rgba($bodyTextColorDesktop, 0.75) !important;
  }
}
