/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - CHAT v2.0
******************************/

/* 01 - CHAT v2.0 */
.chat-holder {
  background-color: $chatBackgroundColor;
  color: $chatTextColor;

  .top-header {
    background-color: $chatBackgroundColor;
    color: $chatTextColor;

    .header-title {
      color: $chatTextColor;
    }
  }

  .offline-note,
  .message-copied-holder {
    background-color: rgba($chatTextColor, 0.5);
    color: rgba($chatBackgroundColor, 0.7);
  }

  .loading-area,
  .error-area,
  .empty-area {
    color: rgba($chatTextColor, 0.7);
  }

  .error-area {
    .refresh-chat {
      border: 1px solid rgba($chatTextColor, 0.7);
    }
  }

  .chat-users-group span {
    color: rgba($chatTextColor, 0.5);
  }

  .chat-participants-preview,
  .chat-user-preview {
    color: rgba($chatTextColor, 0.5);
  }
}

.chat-user-info {
  .chat-participants-name {
    color: rgba($chatTextColor, 0.5);
  }
}

.participants-holder {
  .participants-helper {
    color: rgba($chatTextColor, 0.5);
  }
}

.chat-area,
.contacts-holder-overlay,
.group-name-holder,
.group-participants-holder,
.chat-area .chat-top-header,
.contacts-holder-overlay .contacts-top-header,
.group-name-holder .group-top-header,
.group-participants-holder .group-participants-top-header,
.chat-card-holder,
.contact-card {
  background-color: $chatBackgroundColor;
}

.chat-card-holder.unread:after {
  background-color: $chatOwnBubbleBackground;
}

.chat-card {
  .profile-image-holder {
    background-color: rgba($chatTextColor, 0.1);
  }

  .fa {
    background-color: transparent;
  }
}

.contact-image-wrapper {
  .contact-profile-image {
    background-color: rgba($chatTextColor, 0.1);

    .fa {
      background-color: rgba($chatTextColor, 0.15);
    }
  }
}

.contact-card {
  &.contact-selected {
    background-color: $chatOwnBubbleBackground;
    color: $chatOwnBubbleTextColor;
  }

  .contact-user-preview {
    color: rgba($chatTextColor, 0.5);
  }

  .profile-image-holder {
    background-color: rgba($chatTextColor, 0.1);

    .fa {
      background-color: rgba($chatTextColor, 0.15);
    }
  }
}

.chat-card-holder .show-more {
  background-color: $chatBackgroundColor;
  color: $chatTextColor;
}

.chat-card-holder .show-more:hover {
  background-color: rgba($chatTextColor, 0.1);
  color: $chatTextColor;
}

.chat-controls .start-new,
.contacts-holder-overlay .contacts-back {
  color: $chatOwnBubbleBackground;
}

.contacts-done-holder .contacts-done,
.contacts-done-holder .contacts-create {
  background-color: transparent;
  border: 1px solid rgba($chatTextColor, 0.6);
  color: rgba($chatTextColor, 0.6);
}

.contacts-top-header.ready .contacts-done-holder .contacts-done,
.group-top-header.ready .contacts-done-holder .contacts-create {
  background-color: $chatOwnBubbleBackground;
  border: 1px solid $chatOwnBubbleBackground;
  color: $chatOwnBubbleTextColor;
}

.contact-image-wrapper .fa-times {
  color: $chatBackgroundColor;
  background-color: rgba($chatTextColor, 0.7);
  border: 2px solid $chatBackgroundColor;
}

.all-users-holder .seperator,
.participants-bar {
  background-color: lighten($chatTextColor, 75%);
}

.group-name-field-holder {
  .group-name-field {
    border: 1px solid lighten($chatTextColor, 60%);
    background-color: $chatBackgroundColor;
    color: $chatTextColor;

    &:focus {
      border: 1px solid $chatOwnBubbleBackground;
    }
  }
}

.chat {
  &.chat-right {
    .chat-body {
      background-color: $chatOwnBubbleBackground;
      border: 1px solid transparent;
      color: $chatOwnBubbleTextColor;

      &:after {
        border-color: transparent transparent transparent $chatOwnBubbleBackground;
      }
    }
  }

  &.chat-left {
    .chat-body {
      background-color: $chatOthersBubbleBackground;
      border: 1px solid transparent;
      color: $chatOthersBubbleTextColor;

      &:after {
        border-color: transparent transparent transparent $chatOthersBubbleBackground;
      }
    }
  }

  &.tapped {
    &.chat-right {
      .chat-body {
        background-color: darken($chatOwnBubbleBackground, 10%);

        &:after {
          border-color: transparent transparent transparent darken($chatOwnBubbleBackground, 10%);
        }
      }
    }

    &.chat-left {
      .chat-body {
        background-color: darken($chatOthersBubbleBackground, 10%);

        &:after {
          border-color: transparent transparent transparent darken($chatOthersBubbleBackground, 10%);
        }
      }
    }
  }

  &.editing {
    &.chat-right,
    &.chat-left {
      .chat-body {
        background-color: #fff2be;
        color: $chatTextColor;

        &:after {
          border-color: transparent transparent transparent #fff2be;
        }
      }
    }
  }
}

.chat-input-controls {
  background-color: $chatBackgroundColor;
  border-top: 1px solid rgba($chatTextColor, 0.3);

  .input-second-row {
    .send-button,
    .send-save-button {
      color: rgba($chatTextColor, 0.3);
      border: 1px solid rgba($chatTextColor, 0.3);
    }
  }

  &.ready {
    .input-second-row {
      .send-button,
      .send-save-button {
        background-color: $chatOwnBubbleBackground;
        color: $chatOwnBubbleTextColor;
        border: 1px solid $chatOwnBubbleBackground;
      }
    }
  }
}

.section-label-wrapper {
  background-color: $chatBackgroundColor;

  .search-holder .fa {
    color: $chatOwnBubbleBackground;
  }

  .search-holder .form-control {
    background-color: $chatBackgroundColor;
    color: $chatTextColor;

    &:focus {
      border: 1px solid $chatOwnBubbleBackground;
    }
  }
}

.input-first-row textarea {
  background-color: $chatBackgroundColor;
  color: $chatTextColor;
}

.show-selected-users {
  background-color: $chatBackgroundColor;
}

.all-users-holder .seperator,
.participants-bar {
  background-color: rgba($chatTextColor, 0.2);
}
