.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled] {
  background-color: $primaryButtonColor;
  color: $primaryButtonTextColor;

  @include borderOnly(
    (
      borderSides: $primaryButtonBorderSides,
      borderWidth: $primaryButtonBorderWidth,
      borderStyle: $primaryButtonBorderStyle,
      borderColor: $primaryButtonBorderColor
    )
  );

  @include above($tabletBreakpoint) {
    background-color: $primaryButtonColorTablet;
    color: $primaryButtonTextColorTablet;

    @include borderOnly(
      (
        borderSides: $primaryButtonBorderSidesTablet,
        borderWidth: $primaryButtonBorderWidthTablet,
        borderStyle: $primaryButtonBorderStyleTablet,
        borderColor: $primaryButtonBorderColorTablet
      )
    );
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $primaryButtonColorDesktop;
    color: $primaryButtonTextColorDesktop;

    @include borderOnly(
      (
        borderSides: $primaryButtonBorderSidesDesktop,
        borderWidth: $primaryButtonBorderWidthDesktop,
        borderStyle: $primaryButtonBorderStyleDesktop,
        borderColor: $primaryButtonBorderColorDesktop
      )
    );
  }
}

.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
  background-color: $primaryButtonColor;

  @include above($tabletBreakpoint) {
    background-color: $primaryButtonColorTablet;
  }

  @include above($desktopBreakpoint) {
    background-color: $primaryButtonColorDesktop;
  }
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today[disabled] {
  background-color: $secondaryButtonColor;
  color: $secondaryButtonTextColor;

  @include borderOnly(
    (
      borderSides: $secondaryButtonBorderSides,
      borderWidth: $secondaryButtonBorderWidth,
      borderStyle: $secondaryButtonBorderStyle,
      borderColor: $secondaryButtonBorderColor
    )
  );

  @include above($tabletBreakpoint) {
    background-color: $secondaryButtonColorTablet;
    color: $secondaryButtonTextColorTablet;

    @include borderOnly(
      (
        borderSides: $secondaryButtonBorderSidesTablet,
        borderWidth: $secondaryButtonBorderWidthTablet,
        borderStyle: $secondaryButtonBorderStyleTablet,
        borderColor: $secondaryButtonBorderColorTablet
      )
    );
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $secondaryButtonColorDesktop;
    color: $secondaryButtonTextColorDesktop;

    @include borderOnly(
      (
        borderSides: $secondaryButtonBorderSidesDesktop,
        borderWidth: $secondaryButtonBorderWidthDesktop,
        borderStyle: $secondaryButtonBorderStyleDesktop,
        borderColor: $secondaryButtonBorderColorDesktop
      )
    );
  }
}

html.no-touchevents.js-focus-visible {
  .fl-date-picker {
    &.focus-outline {
      &:focus-within {
        box-shadow: 0px 0px 0px $focusOutlineWidth $focusOutlineColor;
      }

      @include above($tabletBreakpoint) {
        &:focus-within {
          box-shadow: 0px 0px 0px $focusOutlineWidthTablet $focusOutlineColorTablet;
        }
      }

      @include above($desktopBreakpoint) {
        &:focus-within {
          box-shadow: 0px 0px 0px $focusOutlineWidthDesktop $focusOutlineColorDesktop;
        }
      }
    }
  }
}
