/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - DATA DIRECTORIES
******************************/

/* 01 - DATA DIRECTORIES */

.directory-wrapper {
  background-color: $directoryBackgroundColor;
  color: $directoryTextColor;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    background-color: $directoryBackgroundColorTablet;
    color: $directoryTextColorTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $directoryBackgroundColorDesktop;
    color: $directoryTextColorDesktop;
  }
}

.directory-search {
  background-color: $directorySearchColor;

  input {
    color: $directorySearchTextColor
  }

  .btn.btn-link.search-cancel {
    color: $directorySearchCancel;

    &:hover {
      color: $directorySearchCancelHover;
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    background-color: $directorySearchColorTablet;

    input {
      color: $directorySearchTextColorTablet
    }

    .btn.btn-link.search-cancel {
      color: $directorySearchCancelTablet;

      &:hover {
        color: $directorySearchCancelHoverTablet;
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    background-color: $directorySearchColorDesktop;

    input {
      color: $directorySearchTextColorDesktop
    }

    .btn.btn-link.search-cancel {
      color: $directorySearchCancelDesktop;

      &:hover {
        color: $directorySearchCancelHoverDesktop;
      }
    }
  }
}

.directory-list {
  background-color: $directoryBackgroundColor;

  .add-new-entry {
    background-color: $primaryButtonColor;
    color: $primaryButtonTextColor;
  }

  .list-default {

    li {
      border-top: $directoryListBorderColor;

      &:first-child {
        border-top: none;
      }

      .list-title {
        color: $directoryListTitleColor;
        font-size: $directoryListTitleSize;
        font-weight: $directoryListTitleWeight;
      }
    }

    ul > li {
      .list-title + p {
        color: $directoryListDescColor;
        font-size: $directoryListDescSize;
        font-weight: $directoryListDescWeight;
      }

      .icon {
        color: $directoryListChevronColor;
      }
    }
  }

  li {
    &.divider {
      background-color: $directorySeparatorColor;
      color: $directorySeparatorTextColor;
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    width: $directoryListWidthTablet;
    background-color: $directoryBackgroundColorTablet;

    .add-new-entry {
      background-color: $primaryButtonColorTablet;
      color: $primaryButtonTextColorTablet;
    }

    .list-default {

      li {
        border-top: $directoryListBorderColorTablet;

        .list-title {
          color: $directoryListTitleColorTablet;
          font-size: $directoryListTitleSizeTablet;
          font-weight: $directoryListTitleWeightTablet;
        }
      }

      ul > li {
        .list-title + p {
          color: $directoryListDescColorTablet;
          font-size: $directoryListDescSizeTablet;
          font-weight: $directoryListDescWeightTablet;
        }

        .icon {
          color: $directoryListChevronColorTablet;
        }
      }
    }

    li {
      &.divider {
        background-color: $directorySeparatorColorTablet;
        color: $directorySeparatorTextColorTablet;
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    width: $directoryListWidthDesktop;
    background-color: $directoryBackgroundColorDesktop;

    .add-new-entry {
      background-color: $primaryButtonColorDesktop;
      color: $primaryButtonTextColorDesktop;
    }

    .list-default {

      li {
        border-top: $directoryListBorderColorDesktop;

        .list-title {
          color: $directoryListTitleColorDesktop;
          font-size: $directoryListTitleSizeDesktop;
          font-weight: $directoryListTitleWeightDesktop;
        }
      }

      ul > li {
        .list-title + p {
          color: $directoryListDescColorDesktop;
          font-size: $directoryListDescSizeDesktop;
          font-weight: $directoryListDescWeightDesktop;
        }

        .icon {
          color: $directoryListChevronColorDesktop;
        }
      }
    }

    li {
      &.divider {
        background-color: $directorySeparatorColorDesktop;
        color: $directorySeparatorTextColorDesktop;
      }
    }
  }
}

.overlayPanel {
  .list-default {
    li {
      .list-title {
        color: $directoryListTitleColor;
        font-size: $directoryListTitleSize;
        font-weight: $directoryListTitleWeight;
        font-style: $directoryListTitleStyle;
        text-decoration: $directoryListTitleDecoration;
      }
    }

    ul > li {
      .list-title + p {
        color: $directoryListDescColor;
        font-size: $directoryListDescSize;
        font-weight: $directoryListDescWeight;
        font-style: $directoryListDescStyle;
        text-decoration: $directoryListDescDecoration;
      }

      .icon {
        color: $directoryListChevronColor;
      }

      .list-tags a {
        color: $directoryListTagsColor;
        background: $directoryListTagsTextColor;
      }
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    .list-default {
      li {
        .list-title {
          color: $directoryListTitleColorTablet;
          font-size: $directoryListTitleSizeTablet;
          font-weight: $directoryListTitleWeightTablet;
          font-style: $directoryListTitleStyleTablet;
          text-decoration: $directoryListTitleDecorationTablet;
        }
      }

      ul > li {
        .list-title + p {
          color: $directoryListDescColorTablet;
          font-size: $directoryListDescSizeTablet;
          font-weight: $directoryListDescWeightTablet;
          font-style: $directoryListDescStyleTablet;
          text-decoration: $directoryListDescDecorationTablet;
        }

        .icon {
          color: $directoryListChevronColorTablet;
        }

        .list-tags a {
          color: $directoryListTagsColorTablet;
          background: $directoryListTagsTextColorTablet;
        }
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    .list-default {
      li {
        .list-title {
          color: $directoryListTitleColorDesktop;
          font-size: $directoryListTitleSizeDesktop;
          font-weight: $directoryListTitleWeightDesktop;
          font-style: $directoryListTitleStyleDesktop;
          text-decoration: $directoryListTitleDecorationDesktop;
        }
      }

      ul > li {
        .list-title + p {
          color: $directoryListDescColorDesktop;
          font-size: $directoryListDescSizeDesktop;
          font-weight: $directoryListDescWeightDesktop;
          font-style: $directoryListDescStyleDesktop;
          text-decoration: $directoryListDescDecorationDesktop;
        }

        .icon {
          color: $directoryListChevronColorDesktop;
        }

        .list-tags a {
          color: $directoryListTagsColorDesktop;
          background: $directoryListTagsTextColorDesktop;
        }
      }
    }
  }
}

.list-index span {
  color: $highlightColor;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: $highlightColorTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: $highlightColorDesktop;
  }
}

.overlay-directory {
  .overlayPanelContent {
    background-color: $directoryOverlayContentColor;
    color: $directoryTextColor;

    .directory-detail-title {
      color: $directoryOverlayContentTitleColor;
      font-family: $directoryOverlayContentTitleFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentTitleFontSize;
    }

    .directory-detail-label {
      color: $directoryOverlayContentLabelColor;
      font-family: $directoryOverlayContentLabelFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentLabelFontSize;
    }

    .directory-detail-value {
      color: $directoryOverlayContentValueColor;
      font-family: $directoryOverlayContentValueFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentValueFontSize;
    }
  }

  .overlayNavbar {
    background-color: $directoryOverlayNavColor;
    color: $directoryOverlayNavTextColor;
    border-bottom: $directoryOverlayNavBorderColor;
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    .overlayPanelContent {
      background-color: $directoryOverlayContentColorTablet;
      color: $directoryTextColorTablet;

      .directory-detail-title {
        color: $directoryOverlayContentTitleColorTablet;
        font-family: #{$directoryOverlayContentTitleFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentTitleFontSizeTablet;
      }

      .directory-detail-label {
        color: $directoryOverlayContentLabelColorTablet;
        font-family: #{$directoryOverlayContentLabelFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentLabelFontSizeTablet;
      }

      .directory-detail-value {
        color: $directoryOverlayContentValueColorTablet;
        font-family: #{$directoryOverlayContentValueFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentValueFontSizeTablet;
      }
    }

    .overlayNavbar {
      background-color: $directoryOverlayNavColorTablet;
      color: $directoryOverlayNavTextColorTablet;
      border-bottom: $directoryOverlayNavBorderColorTablet;
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    .overlayPanelContent {
      background-color: $directoryOverlayContentColorDesktop;
      color: $directoryTextColorDesktop;

      .directory-detail-title {
        color: $directoryOverlayContentTitleColorDesktop;
        font-family: #{$directoryOverlayContentTitleFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentTitleFontSizeDesktop;
      }

      .directory-detail-label {
        color: $directoryOverlayContentLabelColorDesktop;
        font-family: #{$directoryOverlayContentLabelFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentLabelFontSizeDesktop;
      }

      .directory-detail-value {
        color: $directoryOverlayContentValueColorDesktop;
        font-family: #{$directoryOverlayContentValueFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentValueFontSizeDesktop;
      }
    }

    .overlayNavbar {
      background-color: $directoryOverlayNavColorDesktop;
      color: $directoryOverlayNavTextColorDesktop;
      border-bottom: $directoryOverlayNavBorderColorDesktop;
    }
  }
}

.directory-details {
  .directory-details-content {
    color: $directoryTextColor;

    .directory-detail-title {
      color: $directoryOverlayContentTitleColor;
      font-family: $directoryOverlayContentTitleFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentTitleFontSize;
    }

    .directory-detail-label {
      color: $directoryOverlayContentLabelColor;
      font-family: $directoryOverlayContentLabelFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentLabelFontSize;
    }

    .directory-detail-value {
      color: $directoryOverlayContentValueColor;
      font-family: $directoryOverlayContentValueFont, Helvetica, Arial, sans-serif;
      font-size: $directoryOverlayContentValueFontSize;
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    width: $directoryDetailsWidthTablet;

    .directory-details-content {
      color: $directoryTextColorTablet;

      .directory-detail-title {
        color: $directoryOverlayContentTitleColorTablet;
        font-family: #{$directoryOverlayContentTitleFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentTitleFontSizeTablet;
      }

      .directory-detail-label {
        color: $directoryOverlayContentLabelColorTablet;
        font-family: #{$directoryOverlayContentLabelFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentLabelFontSizeTablet;
      }

      .directory-detail-value {
        color: $directoryOverlayContentValueColorTablet;
        font-family: #{$directoryOverlayContentValueFontTablet}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentValueFontSizeTablet;
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    width: $directoryDetailsWidthDesktop;

    .directory-details-content {
      color: $directoryTextColorDesktop;

      .directory-detail-title {
        color: $directoryOverlayContentTitleColorDesktop;
        font-family: #{$directoryOverlayContentTitleFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentTitleFontSizeDesktop;
      }

      .directory-detail-label {
        color: $directoryOverlayContentLabelColorDesktop;
        font-family: #{$directoryOverlayContentLabelFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentLabelFontSizeDesktop;
      }

      .directory-detail-value {
        color: $directoryOverlayContentValueColorDesktop;
        font-family: #{$directoryOverlayContentValueFontDesktop}, Helvetica, Arial, sans-serif;
        font-size: $directoryOverlayContentValueFontSizeDesktop;
      }
    }
  }
}

@include above($tabletBreakpoint) {
  .directory-list .list-default {

    ul > li.active {
      background-color: $directoryActiveListColorTablet;

      .list-title {
        color: $directoryActiveListTitleColorTablet;
        font-size: $directoryActiveListTitleSizeTablet;
        font-weight: $directoryActiveListTitleWeightTablet;
        font-style: $directoryActiveListTitleStyleTablet;
        text-decoration: $directoryActiveListTitleDecorationTablet;
      }

      .list-title + p {
        color: $directoryActiveListDescColorTablet;
        font-size: $directoryActiveListDescSizeTablet;
        font-weight: $directoryActiveListDescWeightTablet;
        font-style: $directoryActiveListDescStyleTablet;
        text-decoration: $directoryActiveListDescDecorationTablet;
      }

      .icon {
        color: $directoryActiveListChevronColorTablet;
      }

      .list-tags a {
        color: $directoryActiveListTagsTextColorTablet;
        background: $directoryActiveListTagsColorTablet;
      }
    }

    .search-result-header {
      background-color: $directorySeparatorColorTablet;

      h5 {
        color: $directorySeparatorTextColorTablet;
      }
    }
  }
}

@include above($desktopBreakpoint) {
  .directory-list .list-default {

    ul > li.active {
      background-color: $directoryActiveListColorDesktop;

      .list-title {
        color: $directoryActiveListTitleColorDesktop;
        font-size: $directoryActiveListTitleSizeDesktop;
        font-weight: $directoryActiveListTitleWeightDesktop;
        font-style: $directoryActiveListTitleStyleDesktop;
        text-decoration: $directoryActiveListTitleDecorationDesktop;
      }

      .list-title + p {
        color: $directoryActiveListDescColorDesktop;
        font-size: $directoryActiveListDescSizeDesktop;
        font-weight: $directoryActiveListDescWeightDesktop;
        font-style: $directoryActiveListDescStyleDesktop;
        text-decoration: $directoryActiveListDescDecorationDesktop;
      }

      .icon {
        color: $directoryActiveListChevronColorDesktop;
      }

      .list-tags a {
        color: $directoryActiveListTagsTextColorDesktop;
        background: $directoryActiveListTagsColorDesktop;
      }
    }

    .search-result-header {
      background-color: $directorySeparatorColorDesktop;

      h5 {
        color: $directorySeparatorTextColorDesktop;
      }
    }
  }
}
