/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - DATA DIRECTORIES
******************************/

/* 01 - DATA DIRECTORIES */

.directory-wrapper {
  background-color: $directoryBackgroundColor;
  color: $directoryTextColor;
}

.directory-search {
  background-color: $directorySearchColor;

  .btn.btn-link.search-cancel {
    color: $directorySearchCancel;

    &:hover {
      color: $directorySearchCancelHover;
    }
  }
}

.directory-list {
  background-color: $directoryBackgroundColor;

  .list-default {

    li {
      border-top: $directoryListBorderColor;

      .list-title {
        color: $directoryListTitleColor;
        font-size: $directoryListTitleSize;
        font-weight: $directoryListTitleWeight;
      }
    }

    ul > li {
      .list-title + p {
        color: $directoryListDescColor;
        font-size: $directoryListDescSize;
        font-weight: $directoryListDescWeight;
      }

      .icon {
        color: $directoryListChevronColor;
      }
    }
  }

  li {
    &.divider {
      background-color: $directorySeparatorColor;
      color: $directorySeparatorTextColor;
    }
  }
}

.overlayPanel {

  .list-default {
    li {
      .list-title {
        color: $directoryListTitleColor;
        font-size: $directoryListTitleSize;
        font-weight: $directoryListTitleWeight;
      }
    }

    ul > li {
      .list-title + p {
        color: $directoryListDescColor;
        font-size: $directoryListDescSize;
        font-weight: $directoryListDescWeight;
      }

      .icon {
        color: $directoryListChevronColor;
      }

      .list-tags a {
        color: $directoryListTagsColor;
        background: $directoryListTagsTextColor;
      }
    }
  }
}

.list-index span {
  color: $linkColor;
}

.overlay-directory {

  .overlayPanelContent {
    background-color: $directoryOverlayContetColor;
    color: $directoryOverlayContetTextColor;
  }

  .overlayNavbar {
    background-color: $directoryOverlayNavColor;
    color: $directoryOverlayNavTextColor;
    border-bottom: $directoryOverlayNavBorderColor;
  }
}

@media screen and (min-width:640px) {
  .directory-entries {

    ul > li.active {
      background-color: $directoryActiveListColor;

      .list-title {
        color: $directoryActiveListTitleColor;
        font-size: $directoryActiveListTitleSize;
        font-weight: $directoryActiveListTitleWeight;
      }

      .list-title + p {
        color: $directoryActiveListDescColor;
        font-size: $directoryActiveListDescSize;
        font-weight: $directoryActiveListDescWeight;
      }

      .icon {
        color: $directoryActiveListChevronColor;
      }

      .list-tags a {
        color: $directoryActiveListTagsTextColor;
        background: $directoryActiveListTagsColor;
      }
    }
  }
  .search-result {

    li.active {
      background-color: $directoryActiveListColor;
    }
  }
}
