/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - INPUT FIELDS
02 - CHECKBOX / RADIO
03 - SELECT
******************************/

/* 01 - INPUT FIELDS */

.form-group {

  .control-label {

    label {
        font-weight: $formLabelWeight;
    }
  }
}

.form-control {
    border: $formInputBorder;
    border-radius: $formInputBorderRadius;

    &.has-error {
        border: $formInputBorderError;
    }

    &:focus {
        border: $formInputBorderFocus;
    }
}

/* 02- CHECKBOX / RADIO */

.radio.radio-icon input[type="radio"] + label > span.check,
.checkbox.checkbox-icon input[type="checkbox"] + label > span.check {
  border: $formToggleBorder;
  background-color: $formToggleBackgroundColor;
}

.radio.radio-icon input[type="radio"]:checked + label > span.check,
.checkbox.checkbox-icon input[type="checkbox"]:checked + label > span.check {
  background-color: $formToggleActiveBackgroundColor;
}

.radio.radio-icon input[type="radio"] + label > span.check > i.fa,
.checkbox.checkbox-icon input[type="checkbox"] + label > span.check > i.fa {
  color: $formToggleActiveBackgroundColor;
}

.radio.radio-icon input[type="radio"]:checked + label span.check > i.fa,
.checkbox.checkbox-icon input[type="checkbox"]:checked + label span.check > i.fa {
  color: $formToggleColor;
}

/* CODE FORM */
.rtgl-ios + .rtgl-btn,
.tgl-ios + .tgl-btn {
    background: $formToggleBackgroundColor;
    border: $formToggleBorder;
}

.rtgl-ios + .rtgl-btn:after,
.tgl-ios + .tgl-btn:after {
    background: $formToggleColor;
}

.rtgl-ios:checked + .rtgl-btn,
.tgl-ios:checked + .tgl-btn {
    background: $formToggleActiveBackgroundColor;
}

/* 03 - SELECT */
.select-proxy-display {
  border: $formInputBorder;
  border-radius: $formInputBorderRadius;
  color: $formSelectTextColor;
}

.select-proxy-display > .icon {
  background-color: $formSelectArrowBackground;
  color: $formSelectArrow;
  border-top-right-radius: $formInputBorderRadius;
  border-bottom-right-radius: $formInputBorderRadius;
  border-left: $formInputBorder;
}

.required-info,
.required-info-label {
  color: $formRequiredColor;
}

.input-group-addon {
  color: $bodyTextColor;
  border-right: 1px solid $bodyTextColor !important;
}

[_type="flStarRating"] .rating-star .fa {
  color: $formStarRating;
}

[_type="flStarRating"] .rating-input:checked~.rating-star .fa {
  color: $formStarRatingSelected;
}

.sending-form {
  color: $bodyTextColor;
  background-color: rgba($bodyBackground, 0.9);
}