// Headings mixin
@mixin headings($options: ()) {
  $configuration: map-merge((
    headingColor: $headingOneColor,
    headingFamily: $headingOneFontFamily,
    headingSize: $headingOneSize,
    headingLineHeight: $headingOneHeight,
    headingWeight: $headingOneWeight,
    headingMarginTop: $headingOneMarginTop,
    headingMarginBottom: $headingOneMarginBottom
  ), $options);

  color: map-get($configuration, headingColor);
  font: map-get($configuration, headingWeight) #{map-get($configuration, headingSize)}/#{map-get($configuration, headingLineHeight)} #{map-get($configuration, headingFamily)}, 'Arial, sans-serif';
  margin-top: map-get($configuration, headingMarginTop);
  margin-bottom: map-get($configuration, headingMarginBottom);
}

h1 {
  // Include styles for default mobile viewport
  @include headings();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingOneColorTablet,
      headingFamily: $headingOneFontFamilyTablet,
      headingSize: $headingOneSizeTablet,
      headingLineHeight: $headingOneHeightTablet,
      headingWeight: $headingOneWeightTablet,
      headingMarginTop: $headingOneMarginTopTablet,
      headingMarginBottom: $headingOneMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingOneColorDesktop,
      headingFamily: $headingOneFontFamilyDesktop,
      headingSize: $headingOneSizeDesktop,
      headingLineHeight: $headingOneHeightDesktop,
      headingWeight: $headingOneWeightDesktop,
      headingMarginTop: $headingOneMarginTopDesktop,
      headingMarginBottom: $headingOneMarginBottomDesktop
    ));
  }
}

h2 {
  // Include styles for default mobile viewport
  @include headings((
    headingColor: $headingTwoColor,
    headingFamily: $headingTwoFontFamily,
    headingSize: $headingTwoSize,
    headingLineHeight: $headingTwoHeight,
    headingWeight: $headingTwoWeight,
    headingMarginTop: $headingTwoMarginTop,
    headingMarginBottom: $headingTwoMarginBottom
  ));

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingTwoColorTablet,
      headingFamily: $headingTwoFontFamilyTablet,
      headingSize: $headingTwoSizeTablet,
      headingLineHeight: $headingTwoHeightTablet,
      headingWeight: $headingTwoWeightTablet,
      headingMarginTop: $headingTwoMarginTopTablet,
      headingMarginBottom: $headingTwoMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingTwoColorDesktop,
      headingFamily: $headingTwoFontFamilyDesktop,
      headingSize: $headingTwoSizeDesktop,
      headingLineHeight: $headingTwoHeightDesktop,
      headingWeight: $headingTwoWeightDesktop,
      headingMarginTop: $headingTwoMarginTopDesktop,
      headingMarginBottom: $headingTwoMarginBottomDesktop
    ));
  }
}

h3 {
  // Include styles for default mobile viewport
  @include headings((
    headingColor: $headingThreeColor,
    headingFamily: $headingThreeFontFamily,
    headingSize: $headingThreeSize,
    headingLineHeight: $headingThreeHeight,
    headingWeight: $headingThreeWeight,
    headingMarginTop: $headingThreeMarginTop,
    headingMarginBottom: $headingThreeMarginBottom
  ));

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingThreeColorTablet,
      headingFamily: $headingThreeFontFamilyTablet,
      headingSize: $headingThreeSizeTablet,
      headingLineHeight: $headingThreeHeightTablet,
      headingWeight: $headingThreeWeightTablet,
      headingMarginTop: $headingThreeMarginTopTablet,
      headingMarginBottom: $headingThreeMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingThreeColorDesktop,
      headingFamily: $headingThreeFontFamilyDesktop,
      headingSize: $headingThreeSizeDesktop,
      headingLineHeight: $headingThreeHeightDesktop,
      headingWeight: $headingThreeWeightDesktop,
      headingMarginTop: $headingThreeMarginTopDesktop,
      headingMarginBottom: $headingThreeMarginBottomDesktop
    ));
  }
}

h4 {
  // Include styles for default mobile viewport
  @include headings((
    headingColor: $headingFourColor,
    headingFamily: $headingFourFontFamily,
    headingSize: $headingFourSize,
    headingLineHeight: $headingFourHeight,
    headingWeight: $headingFourWeight,
    headingMarginTop: $headingFourMarginTop,
    headingMarginBottom: $headingFourMarginBottom
  ));

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingFourColorTablet,
      headingFamily: $headingFourFontFamilyTablet,
      headingSize: $headingFourSizeTablet,
      headingLineHeight: $headingFourHeightTablet,
      headingWeight: $headingFourWeightTablet,
      headingMarginTop: $headingFourMarginTopTablet,
      headingMarginBottom: $headingFourMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingFourColorDesktop,
      headingFamily: $headingFourFontFamilyDesktop,
      headingSize: $headingFourSizeDesktop,
      headingLineHeight: $headingFourHeightDesktop,
      headingWeight: $headingFourWeightDesktop,
      headingMarginTop: $headingFourMarginTopDesktop,
      headingMarginBottom: $headingFourMarginBottomDesktop
    ));
  }
}

h5 {
  // Include styles for default mobile viewport
  @include headings((
    headingColor: $headingFiveColor,
    headingFamily: $headingFiveFontFamily,
    headingSize: $headingFiveSize,
    headingLineHeight: $headingFiveHeight,
    headingWeight: $headingFiveWeight,
    headingMarginTop: $headingFiveMarginTop,
    headingMarginBottom: $headingFiveMarginBottom
  ));

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingFiveColorTablet,
      headingFamily: $headingFiveFontFamilyTablet,
      headingSize: $headingFiveSizeTablet,
      headingLineHeight: $headingFiveHeightTablet,
      headingWeight: $headingFiveWeightTablet,
      headingMarginTop: $headingFiveMarginTopTablet,
      headingMarginBottom: $headingFiveMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingFiveColorDesktop,
      headingFamily: $headingFiveFontFamilyDesktop,
      headingSize: $headingFiveSizeDesktop,
      headingLineHeight: $headingFiveHeightDesktop,
      headingWeight: $headingFiveWeightDesktop,
      headingMarginTop: $headingFiveMarginTopDesktop,
      headingMarginBottom: $headingFiveMarginBottomDesktop
    ));
  }
}

h6 {
  // Include styles for default mobile viewport
  @include headings((
    headingColor: $headingSixColor,
    headingFamily: $headingSixFontFamily,
    headingSize: $headingSixSize,
    headingLineHeight: $headingSixHeight,
    headingWeight: $headingSixWeight,
    headingMarginTop: $headingSixMarginTop,
    headingMarginBottom: $headingSixMarginBottom
  ));

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include headings((
      headingColor: $headingSixColorTablet,
      headingFamily: $headingSixFontFamilyTablet,
      headingSize: $headingSixSizeTablet,
      headingLineHeight: $headingSixHeightTablet,
      headingWeight: $headingSixWeightTablet,
      headingMarginTop: $headingSixMarginTopTablet,
      headingMarginBottom: $headingSixMarginBottomTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include headings((
      headingColor: $headingSixColorDesktop,
      headingFamily: $headingSixFontFamilyDesktop,
      headingSize: $headingSixSizeDesktop,
      headingLineHeight: $headingSixHeightDesktop,
      headingWeight: $headingSixWeightDesktop,
      headingMarginTop: $headingSixMarginTopDesktop,
      headingMarginBottom: $headingSixMarginBottomDesktop
    ));
  }
}