// Headings mixin
@mixin headings($options: ()) {
  $configuration: map-merge(
    (
      headingColor: $headingOneColor,
      headingFamily: $headingOneFontFamily,
      headingSize: $headingOneSize,
      headingLineHeight: $headingOneHeight,
      headingWeight: $headingOneWeight,
      headingStyle: $headingOneStyle,
      headingDecoration: $headingOneDecoration,
      headingMarginTop: $headingOneMarginTop,
      headingMarginBottom: $headingOneMarginBottom,
      headingColorTablet: $headingOneColorTablet,
      headingFamilyTablet: $headingOneFontFamilyTablet,
      headingSizeTablet: $headingOneSizeTablet,
      headingLineHeightTablet: $headingOneHeightTablet,
      headingWeightTablet: $headingOneWeightTablet,
      headingStyleTablet: $headingOneStyleTablet,
      headingDecorationTablet: $headingOneDecorationTablet,
      headingMarginTopTablet: $headingOneMarginTopTablet,
      headingMarginBottomTablet: $headingOneMarginBottomTablet,
      headingColorDesktop: $headingOneColorDesktop,
      headingFamilyDesktop: $headingOneFontFamilyDesktop,
      headingSizeDesktop: $headingOneSizeDesktop,
      headingLineHeightDesktop: $headingOneHeightDesktop,
      headingWeightDesktop: $headingOneWeightDesktop,
      headingStyleDesktop: $headingOneStyleDesktop,
      headingDecorationDesktop: $headingOneDecorationDesktop,
      headingMarginTopDesktop: $headingOneMarginTopDesktop,
      headingMarginBottomDesktop: $headingOneMarginBottomDesktop
    ),
    $options
  );

  // Include styles for default mobile viewport
  color: map-get($configuration, headingColor);
  font-family: map-get($configuration, headingFamily);
  font-size: map-get($configuration, headingSize);
  font-weight: map-get($configuration, headingWeight);
  line-height: map-get($configuration, headingLineHeight);
  font-style: map-get($configuration, headingStyle);
  text-decoration: map-get($configuration, headingDecoration);
  margin-top: map-get($configuration, headingMarginTop);
  margin-bottom: map-get($configuration, headingMarginBottom);

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: map-get($configuration, headingColorTablet);
    font-family: map-get($configuration, headingFamilyTablet);
    font-size: map-get($configuration, headingSizeTablet);
    font-weight: map-get($configuration, headingWeightTablet);
    line-height: map-get($configuration, headingLineHeightTablet);
    font-style: map-get($configuration, headingStyleTablet);
    text-decoration: map-get($configuration, headingDecorationTablet);
    margin-top: map-get($configuration, headingMarginTopTablet);
    margin-bottom: map-get($configuration, headingMarginBottomTablet);
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: map-get($configuration, headingColorDesktop);
    font-family: map-get($configuration, headingFamilyDesktop);
    font-size: map-get($configuration, headingSizeDesktop);
    font-weight: map-get($configuration, headingWeightDesktop);
    line-height: map-get($configuration, headingLineHeightDesktop);
    font-style: map-get($configuration, headingStyleDesktop);
    text-decoration: map-get($configuration, headingDecorationDesktop);
    margin-top: map-get($configuration, headingMarginTopDesktop);
    margin-bottom: map-get($configuration, headingMarginBottomDesktop);
  }
}

h1 {
  // Include styles for default mobile viewport
  @include headings();
}

h2 {
  @include headings(
    (
      headingColor: $headingTwoColor,
      headingFamily: $headingTwoFontFamily,
      headingSize: $headingTwoSize,
      headingLineHeight: $headingTwoHeight,
      headingWeight: $headingTwoWeight,
      headingStyle: $headingTwoStyle,
      headingDecoration: $headingTwoDecoration,
      headingMarginTop: $headingTwoMarginTop,
      headingMarginBottom: $headingTwoMarginBottom,
      headingColorTablet: $headingTwoColorTablet,
      headingFamilyTablet: $headingTwoFontFamilyTablet,
      headingSizeTablet: $headingTwoSizeTablet,
      headingLineHeightTablet: $headingTwoHeightTablet,
      headingWeightTablet: $headingTwoWeightTablet,
      headingStyleTablet: $headingTwoStyleTablet,
      headingDecorationTablet: $headingTwoDecorationTablet,
      headingMarginTopTablet: $headingTwoMarginTopTablet,
      headingMarginBottomTablet: $headingTwoMarginBottomTablet,
      headingColorDesktop: $headingTwoColorDesktop,
      headingFamilyDesktop: $headingTwoFontFamilyDesktop,
      headingSizeDesktop: $headingTwoSizeDesktop,
      headingLineHeightDesktop: $headingTwoHeightDesktop,
      headingWeightDesktop: $headingTwoWeightDesktop,
      headingStyleDesktop: $headingTwoStyleDesktop,
      headingDecorationDesktop: $headingTwoDecorationDesktop,
      headingMarginTopDesktop: $headingTwoMarginTopDesktop,
      headingMarginBottomDesktop: $headingTwoMarginBottomDesktop
    )
  );
}

h3 {
  @include headings(
    (
      headingColor: $headingThreeColor,
      headingFamily: $headingThreeFontFamily,
      headingSize: $headingThreeSize,
      headingLineHeight: $headingThreeHeight,
      headingWeight: $headingThreeWeight,
      headingStyle: $headingThreeStyle,
      headingDecoration: $headingThreeDecoration,
      headingMarginTop: $headingThreeMarginTop,
      headingMarginBottom: $headingThreeMarginBottom,
      headingColorTablet: $headingThreeColorTablet,
      headingFamilyTablet: $headingThreeFontFamilyTablet,
      headingSizeTablet: $headingThreeSizeTablet,
      headingLineHeightTablet: $headingThreeHeightTablet,
      headingWeightTablet: $headingThreeWeightTablet,
      headingStyleTablet: $headingThreeStyleTablet,
      headingDecorationTablet: $headingThreeDecorationTablet,
      headingMarginTopTablet: $headingThreeMarginTopTablet,
      headingMarginBottomTablet: $headingThreeMarginBottomTablet,
      headingColorDesktop: $headingThreeColorDesktop,
      headingFamilyDesktop: $headingThreeFontFamilyDesktop,
      headingSizeDesktop: $headingThreeSizeDesktop,
      headingLineHeightDesktop: $headingThreeHeightDesktop,
      headingWeightDesktop: $headingThreeWeightDesktop,
      headingStyleDesktop: $headingThreeStyleDesktop,
      headingDecorationDesktop: $headingThreeDecorationDesktop,
      headingMarginTopDesktop: $headingThreeMarginTopDesktop,
      headingMarginBottomDesktop: $headingThreeMarginBottomDesktop
    )
  );
}

h4 {
  @include headings(
    (
      headingColor: $headingFourColor,
      headingFamily: $headingFourFontFamily,
      headingSize: $headingFourSize,
      headingLineHeight: $headingFourHeight,
      headingWeight: $headingFourWeight,
      headingStyle: $headingFourStyle,
      headingDecoration: $headingFourDecoration,
      headingMarginTop: $headingFourMarginTop,
      headingMarginBottom: $headingFourMarginBottom,
      headingColorTablet: $headingFourColorTablet,
      headingFamilyTablet: $headingFourFontFamilyTablet,
      headingSizeTablet: $headingFourSizeTablet,
      headingLineHeightTablet: $headingFourHeightTablet,
      headingWeightTablet: $headingFourWeightTablet,
      headingStyleTablet: $headingFourStyleTablet,
      headingDecorationTablet: $headingFourDecorationTablet,
      headingMarginTopTablet: $headingFourMarginTopTablet,
      headingMarginBottomTablet: $headingFourMarginBottomTablet,
      headingColorDesktop: $headingFourColorDesktop,
      headingFamilyDesktop: $headingFourFontFamilyDesktop,
      headingSizeDesktop: $headingFourSizeDesktop,
      headingLineHeightDesktop: $headingFourHeightDesktop,
      headingWeightDesktop: $headingFourWeightDesktop,
      headingStyleDesktop: $headingFourStyleDesktop,
      headingDecorationDesktop: $headingFourDecorationDesktop,
      headingMarginTopDesktop: $headingFourMarginTopDesktop,
      headingMarginBottomDesktop: $headingFourMarginBottomDesktop
    )
  );
}

h5 {
  @include headings(
    (
      headingColor: $headingFiveColor,
      headingFamily: $headingFiveFontFamily,
      headingSize: $headingFiveSize,
      headingLineHeight: $headingFiveHeight,
      headingWeight: $headingFiveWeight,
      headingStyle: $headingFiveStyle,
      headingDecoration: $headingFiveDecoration,
      headingMarginTop: $headingFiveMarginTop,
      headingMarginBottom: $headingFiveMarginBottom,
      headingColorTablet: $headingFiveColorTablet,
      headingFamilyTablet: $headingFiveFontFamilyTablet,
      headingSizeTablet: $headingFiveSizeTablet,
      headingLineHeightTablet: $headingFiveHeightTablet,
      headingWeightTablet: $headingFiveWeightTablet,
      headingStyleTablet: $headingFiveStyleTablet,
      headingDecorationTablet: $headingFiveDecorationTablet,
      headingMarginTopTablet: $headingFiveMarginTopTablet,
      headingMarginBottomTablet: $headingFiveMarginBottomTablet,
      headingColorDesktop: $headingFiveColorDesktop,
      headingFamilyDesktop: $headingFiveFontFamilyDesktop,
      headingSizeDesktop: $headingFiveSizeDesktop,
      headingLineHeightDesktop: $headingFiveHeightDesktop,
      headingWeightDesktop: $headingFiveWeightDesktop,
      headingStyleDesktop: $headingFiveStyleDesktop,
      headingDecorationDesktop: $headingFiveDecorationDesktop,
      headingMarginTopDesktop: $headingFiveMarginTopDesktop,
      headingMarginBottomDesktop: $headingFiveMarginBottomDesktop
    )
  );
}

h6 {
  @include headings(
    (
      headingColor: $headingSixColor,
      headingFamily: $headingSixFontFamily,
      headingSize: $headingSixSize,
      headingLineHeight: $headingSixHeight,
      headingWeight: $headingSixWeight,
      headingStyle: $headingSixStyle,
      headingDecoration: $headingSixDecoration,
      headingMarginTop: $headingSixMarginTop,
      headingMarginBottom: $headingSixMarginBottom,
      headingColorTablet: $headingSixColorTablet,
      headingFamilyTablet: $headingSixFontFamilyTablet,
      headingSizeTablet: $headingSixSizeTablet,
      headingLineHeightTablet: $headingSixHeightTablet,
      headingWeightTablet: $headingSixWeightTablet,
      headingStyleTablet: $headingSixStyleTablet,
      headingDecorationTablet: $headingSixDecorationTablet,
      headingMarginTopTablet: $headingSixMarginTopTablet,
      headingMarginBottomTablet: $headingSixMarginBottomTablet,
      headingColorDesktop: $headingSixColorDesktop,
      headingFamilyDesktop: $headingSixFontFamilyDesktop,
      headingSizeDesktop: $headingSixSizeDesktop,
      headingLineHeightDesktop: $headingSixHeightDesktop,
      headingWeightDesktop: $headingSixWeightDesktop,
      headingStyleDesktop: $headingSixStyleDesktop,
      headingDecorationDesktop: $headingSixDecorationDesktop,
      headingMarginTopDesktop: $headingSixMarginTopDesktop,
      headingMarginBottomDesktop: $headingSixMarginBottomDesktop
    )
  );
}
