.interactive-map-label-wrapper {
  color: $markerLabelText;
  background-color: $markerLabelBackground;

  .interactive-map-label-text {
    p {
      color: $markerLabelText;
    }
  }
}

.maps-button {
  color: $mapLabelText;
  background-color: $mapLabelBackground;

  .maps-button-text {
    p {
      color: $mapLabelText;
    }
  }
}

.interactive-map-search-icon {
  color: $controlsText;
  background-color: $controlsBackground;
}

.interactive-maps-search-overlay,
.interactive-maps-overlay {
  background-color: $mapSearchOverlayBackground;
  color: $mapSearchOverlayText;
}

.interactive-map-overlay-topbar {
  background-color: $mapSearchOverlayBackground;
}

.interactive-maps-overlay {
  .map-list-item {
    &.active {
      border-left-color: $mapSearchOverlayText;
    }
  }
}

.interactive-map-overlay-search-holder {
  .form-control {
    background: $mapSearchOverlayBackground;
    color: $mapSearchOverlayText;
    border-color: $mapSearchOverlayText;
  }

  span {
    background: rgba($mapSearchOverlayText, 0.1);
    color: $mapSearchOverlayText;
  }
}