.panel-overlay>.panel-body {
  background: $introOverlayColor;
  color: $introBodyTextColor;
  font-weight: $introBodyFontWeight;
  line-height: $introBodyLineHeight;
  font-size: $introBodyFontSize;
  font-family: $introBodyFontFamily;
}

.panel-overlay>.panel-body h1,
.panel-overlay>.panel-body h2,
.panel-overlay>.panel-body h3,
.panel-overlay>.panel-body h4,
.panel-overlay>.panel-body h5,
.panel-overlay>.panel-body h6 {
  color: $introBodyTextColor;
}

.panel-overlay>.panel-body a,
.panel-overlay>.panel-body .btn-link {
  color: $introLinkColor;
}

.panel-overlay>.panel-body a:focus,
.panel-overlay>.panel-body a:active:hover,
.panel-overlay>.panel-body a:active:focus,
.panel-overlay>.panel-body .btn-link:hover,
.panel-overlay>.panel-body .btn-link:focus,
.panel-overlay>.panel-body .btn-link:active:hover,
.panel-overlay>.panel-body .btn-link:active:focus {
  color: $introLinkHoverColor;
  text-decoration: $introLinkHoverDecor;
}