@mixin links($options: ()) {
  $configuration: map-merge((
    linkColor: $linkColor
  ), $options);

  color: map-get($configuration, linkColor);
}


a {
  text-decoration: none;

  @include links();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include links((
      linkColor: $linkColorTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include links((
      linkColor: $linkColorDesktop
    ));
  }

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    @include links((
      linkColor: $linkHoverColor
    ));

    text-decoration: none;
    outline: none;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include links((
        linkColor: $linkHoverColorTablet
      ));
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include links((
        linkColor: $linkHoverColorDesktop
      ));
    }
  }
}

.btn.btn-link {
  text-decoration: none;

  @include links();

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include links((
      linkColor: $linkColorTablet
    ));
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include links((
      linkColor: $linkColorDesktop
    ));
  }

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    @include links((
      linkColor: $linkHoverColor
    ));

    text-decoration: none;
    outline: none;

    // Styles for tablet
    @include above($tabletBreakpoint) {
      @include links((
        linkColor: $linkHoverColorTablet
      ));
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      @include links((
        linkColor: $linkHoverColorDesktop
      ));
    }
  }
}