/* SMALL CARDS */
.small-card-search-filter-overlay {
  .small-card-overlay-wrapper {
    background-color: $bodyTextColor;
    color: $bodyBackground;
  }

  .hidden-filter-controls-filter {
    border-color: rgba($bodyBackground, 0.8);

    &:hover,
    &:focus {
      color: rgba($bodyBackground, 0.7);
    }
  }
}

.filter-holder {
  .panel-default > .panel-heading {
    color: $bodyBackground;
    background-color: $bodyTextColor;
    border-bottom: 1px solid rgba($bodyBackground, 0.2);
  }
  .panel-group .panel {
    background-color: lighten($bodyTextColor, 10%);
  }
}

.search-holder {
  .fa {
    color: $primaryButtonColor;
  }
  .form-control {
    border-color: rgba($bodyTextColor, 0.8);
    background-color: $bodyBackground;
    color: $bodyTextColor;
  }
  .btn.search-btn {
    border-color: $primaryButtonColor;

    &:hover,
    &:active,
    &:active:hover {
      border-color: $primaryButtonColor;
    }
  }
}

.hidden-filter-controls-label {
  color: rgba($bodyTextColor, 0.5);
}

.hidden-filter-controls-filter {
  border-color: rgba($bodyTextColor, 0.8);

  &:hover,
  &:focus {
    color: rgba($bodyTextColor, 0.7);
  }
}

.small-card-list-text-wrapper,
.small-card-list-detail-content-wrapper {
  background-color: $bodyBackground;
}

.small-card-list-name,
.small-card-list-role,
.small-card-list-location,
.small-card-list-detail-role,
.small-card-list-detail-location {
  color: $bodyTextColor;
}

.small-card-list-detail-name {
  color: $bodyTextColor;

  &:after {
    background-color: $primaryButtonColor;
  }
}

.small-card-list-detail-button a {
  color: $bodyTextColor;

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: $bodyTextColor;
  }
}

.small-card-list-detail-close-btn {
  color: $bodyTextColor;
  background: rgba($bodyBackground, 0.5);
}

.small-card-list-detail-image-wrapper {
  color: rgba($bodyTextColor, 0.1);
  background-color: rgba($bodyTextColor, 0.04);
}

/* NEWS FEED */
.slide-over {
  .news-feed-item-inner-content {
    background-color: $bodyBackground;

    h2 {
      color: $headingTwoColor;

      &:after {
        background-color: $primaryButtonColor;
      }
    }
  }
}

.news-feed-list-item {
  .news-feed-item-close-btn {
    background-color: rgba($bodyBackground, 0.5);
    color: $bodyTextColor;
  }

  &.open{
    .news-feed-item-content {
      background-color: $bodyBackground;
    }
  } 
}

.news-feed-item-content {
  .slide-under {
    color: rgba($bodyTextColor, 0.1);
    background-color: rgba($bodyTextColor, 0.04);
  }
}

/* COMMENTS */
.news-feed-comment-panel,
.new-news-feed-comment-panel {
  background: $bodyBackground;

  .loading-holder {
    color: rgba($bodyTextColor, 0.4);
  }

  .comments-offline {
    background-color: rgba($bodyTextColor, 0.4);
    color: $bodyTextColor;
  }
}

.news-feed-comment-panel-header {
  background-color: $bodyBackground;
}

.news-feed-comment-input-holder {
  background: $bodyBackground;
  border-color: rgba($bodyTextColor, 0.1);

  .cancel {
    color: rgba($bodyTextColor, 0.7);

    &:hover,
    &:focus,
    &:active:hover,
    &:active:focus {
      color: rgba($bodyTextColor, 0.7);
    }
  }

  .btn.comment,
  .btn.save {
    border-color: rgba($bodyTextColor, 0.3);
    color: rgba($bodyTextColor,0.3);
  }

  &.ready {
    .btn.comment,
    .btn.save {
      border-color: $primaryButtonColor;
      background-color: $primaryButtonColor;
      color: $primaryButtonTextColor;
    }
  }
}

.top-comment-holder {
  background-color: $bodyBackground;
}

.fl-individual-comment.editing .top-comment-holder {
  background-color: rgba($bodyTextColor, 0.08);
}

.fl-comment-thumb {
  background-color: rgba($bodyTextColor, 0.04);
}

textarea[data-comment-body] {
  background-color: transparent;
  color: $bodyTextColor;

  ~ .typeahead.dropdown-menu {
    border-color: rgba($bodyTextColor,0.1);

    > .active > a {
      background-color: $primaryButtonColor;
      color: $primaryButtonTextColor;
    }
  }
}

.active .mention_username{
  color: $primaryButtonTextColor;
}

/* AGENDA */
.agenda-date-selector {
  background-color: rgba($bodyBackground, 0.85);

  ul {
    li {
      color: rgba($bodyTextColor, 0.5);

      .day {
        color: rgba($bodyTextColor, 0.7);
      }

      &.placeholder {
        color: rgba($bodyTextColor, 0.1);

        .day {
          color: rgba($bodyTextColor, 0.1);
        }
      }
      &.active {
        color: rgba($primaryButtonColor, 0.5);

        .day {
          color: rgba($primaryButtonColor, 1);
        }
      }
    }
  }
}
.agenda-list-item {
  .slide-over {
    .agenda-item-inner-content {
      background-color: $bodyBackground;

      .agenda-item-time {
        color: $bodyTextColor;
      }

      .agenda-item-session-location {
        color: $bodyTextColor;
      }

      h2.agenda-item-title {
        color: $headingTwoColor;
      }
    }
  }

  &.open {
    .slide-over {
      .agenda-item-inner-content {
        h2.agenda-item-title {
          &:after {
            background-color: $primaryButtonColor;
          }
        }
      }
    }
  }
}

.agenda-item-bookmark-holder {
  color: $bodyTextColor;

  .fa-bookmark-o {
    color: rgba($bodyTextColor, 0.2);
  }
}

.bookmark-wrapper {
  .fa-bookmark-o {
    color: rgba($bodyTextColor, 0.2);

    &:after {
      color: rgba($bodyTextColor, 0.5);
    }
  }

  .fa-bookmark {
    color: $primaryButtonColor;
  }
}

.agenda-list-item-content {
  .slide-over {
    background-color: $bodyBackground;
  }
}

.agenda-list-controls {
  background-color: $bodyBackground;

  .toggle-agenda {
    .fa {
      color: $bodyTextColor;
    }

    &.mixitup-control-active {
      .fa {
        color: $primaryButtonColor;
      }
    }
  }

  .agenda-list-label {
    color: $bodyTextColor;
  }
}

.agenda-list-item {
  .agenda-item-close-btn {
    background-color: rgba($bodyBackground, 0.5);
    color: $bodyTextColor;
  }
}

.agenda-state-messages {
  .loading-holder,
  .offline-holder {
    color: $bodyTextColor;
  }
}

.agenda-list-card-holder.empty + .agenda-item-empty-state {
  color: $bodyTextColor;
}

/* SMALL HORIZONTAL CARDS */
.small-h-card-list-container {
  .loading-data {
    color: $bodyTextColor;
  }
}

.small-h-card-list-detail-content-wrapper {
  background-color: $bodyBackground;
}

.small-h-card-list-detail-name {
  color: $bodyTextColor;

  &:after {
    background-color: $primaryButtonColor;
  }
}

.small-h-card-list-detail-role,
.small-h-card-list-detail-location {
  color: $bodyTextColor;
}

.small-h-card-list-detail-button {
  a {
    color: $bodyTextColor;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      color: $bodyTextColor;
    }
  }
}

.small-h-card-list-detail-wrapper {
  background-color: $bodyBackground;
}

.small-h-card-list-detail-image-wrapper {
  color: rgba($bodyTextColor, 0.1);
  background-color: rgba($bodyTextColor, 0.04);
}

.small-h-card-list-detail-close-btn {
  background-color: rgba($bodyBackground, 0.5);
  color: $bodyTextColor;
}

.simple-list-item {
  border-bottom: $listSeparatorColor;
}

.simple-list-item .list-item-description,
.simple-list-item .list-item-subtitle {
  color: $bodyTextColor;
}

.simple-list-detail-overlay-panel .simple-list-detail-overlay-heading,
.simple-list-detail-overlay .simple-list-detail-overlay-panel {
  background-color: $bodyBackground;
}

.dynamic-list-add-item {
  background-color: $primaryButtonColor;
  color: $primaryButtonTextColor;
}

.btn.dynamic-list-edit-item {
  border: 1px solid rgba($bodyTextColor, 0.3);
  background-color: $bodyBackground;
  color: rgba($bodyTextColor, 0.5);
  border-radius: 40px;
}

.btn.dynamic-list-edit-item:hover,
.btn.dynamic-list-edit-item:active,
.btn.dynamic-list-edit-item:active:focus {
  border: 1px solid rgba($bodyTextColor, 0.3);
  background-color: rgba($bodyTextColor, 0.1);
  color: $bodyTextColor;
}

.news-feed-bookmark-holder {
  .fa-bookmark {
    color: $primaryButtonColor;
  }
}