/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - LIST
02 - LIST SMALL THUMBS
03 - LIST LARGE THUMBS
04 - PDF FILE LIST
******************************/

/* 01 - LIST */

.list.list-default {

  ul > li {
    border-bottom: $listSeparatorColor;

    &.linked:active {
      background-color: $listClickColor;
    }

    &.linked:after {
      color: $chevronColor;
    }

    .list-title {
      font-size: $titleSize;
    	font-weight: $titleWeight;
      color: $titleColor;
    }

    p + p {
      font-size: $descriptionSize;
    	font-weight: $descriptionWeight;
      color: $descriptionColor;
    }

  }

}

/* 02 - LIST SMALL THUMBS */

.list.list-thumb-s {

  ul > li {
    border-bottom: $listSeparatorColor;

    &.linked:active {
      background-color: $listClickColor;
    }

    &.linked:after {
      color: $chevronColor;
    }

    .list-title {
      font-size: $titleSize;
    	font-weight: $titleWeight;
      color: $titleColor;
    }

    p + p {
      font-size: $descriptionSize;
    	font-weight: $descriptionWeight;
      color: $descriptionColor;
    }

  }

}

/* 03 - LIST LARGE THUMBS */

.list.list-thumb-l {

  ul > li {
    border-bottom: $listSeparatorColor;

    &.linked:active {
      background-color: $listClickColor;
    }

    &.linked:after {
      color: $chevronColor;
    }

    .list-title {
      font-size: $titleSize;
    	font-weight: $titleWeight;
      color: $titleColor;
    }

    p + p {
      font-size: $descriptionSize;
    	font-weight: $descriptionWeight;
      color: $descriptionColor;
    }

  }

}

/* 04 - PDF FILE LIST */

.list-search {
    border-bottom: $listSearchBorder;
}

.btn.btn-link.search-cancel {
  color: $listSearchCancel;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
  }
}
