@mixin listSmallThumbs($options: (), $widgetInstanceId: "", $widgetInstanceUUID: "") {
  $configuration: map-merge(
    (
      listSmallWidth: $listSmallWidth,
      listSmallMinWidth: $listSmallMinWidth,
      listSmallMaxWidth: $listSmallMaxWidth,
      listSmallPosition: $listSmallPosition,
      listSmallPositionTop: $listSmallPositionTop,
      listSmallPositionRight: $listSmallPositionRight,
      listSmallPositionBottom: $listSmallPositionBottom,
      listSmallPositionLeft: $listSmallPositionLeft,
      listSmallIndex: $listSmallIndex,
      listSmallDisplay: $listSmallDisplay,
      listSmallMarginTop: $listSmallMarginTop,
      listSmallMarginRight: $listSmallMarginRight,
      listSmallMarginBottom: $listSmallMarginBottom,
      listSmallMarginLeft: $listSmallMarginLeft,
      listSmallPaddingTop: $listSmallPaddingTop,
      listSmallPaddingRight: $listSmallPaddingRight,
      listSmallPaddingBottom: $listSmallPaddingBottom,
      listSmallPaddingLeft: $listSmallPaddingLeft,
      listSmallBackgroundColor: $listSmallBackgroundColor,
      listSmallClickColor: $listSmallClickColor,
      listSmallSeparatorColor: $listSmallSeparatorColor,
      listSmallChevronColor: $listSmallChevronColor,
      listSmallTitleFont: $listSmallTitleFont,
      listSmallTitleSize: $listSmallTitleSize,
      listSmallTitleColor: $listSmallTitleColor,
      listSmallTitleWeight: $listSmallTitleWeight,
      listSmallTitleStyle: $listSmallTitleStyle,
      listSmallTitleDecoration: $listSmallTitleDecoration,
      listSmallDescriptionFont: $listSmallDescriptionFont,
      listSmallDescriptionSize: $listSmallDescriptionSize,
      listSmallDescriptionColor: $listSmallDescriptionColor,
      listSmallDescriptionWeight: $listSmallDescriptionWeight,
      listSmallDescriptionStyle: $listSmallDescriptionStyle,
      listSmallDescriptionDecoration: $listSmallDescriptionDecoration,
      listSmallIconSize: $listSmallIconSize,
      listSmallIconBackgroundColor: $listSmallIconBackgroundColor,
      listSmallIconColor: $listSmallIconColor,
      listSmallItemPaddingTop: $listSmallItemPaddingTop,
      listSmallItemPaddingRight: $listSmallItemPaddingRight,
      listSmallItemPaddingBottom: $listSmallItemPaddingBottom,
      listSmallItemPaddingLeft: $listSmallItemPaddingLeft,
      listSmallMyListToggleColor: $listSmallMyListToggleColor,
      listSmallMyListToggleActiveColor: $listSmallMyListToggleActiveColor,
      listSmallMyListSwipeColor: $listSmallMyListSwipeColor,
      listSmallMyListSwipeTextColor: $listSmallMyListSwipeTextColor,
      listSmallMyListSwipeRightColor: $listSmallMyListSwipeRightColor,
      listSmallMyListSwipeRightTextColor: $listSmallMyListSwipeRightTextColor,
      listSmallMyListSwipeLeftColor: $listSmallMyListSwipeLeftColor,
      listSmallMyListSwipeLeftTextColor: $listSmallMyListSwipeLeftTextColor,
      listSmallVisibility: $listSmallVisibility,
      listSmallWidthTablet: $listSmallWidthTablet,
      listSmallMinWidthTablet: $listSmallMinWidthTablet,
      listSmallMaxWidthTablet: $listSmallMaxWidthTablet,
      listSmallPositionTablet: $listSmallPositionTablet,
      listSmallPositionTopTablet: $listSmallPositionTopTablet,
      listSmallPositionRightTablet: $listSmallPositionRightTablet,
      listSmallPositionBottomTablet: $listSmallPositionBottomTablet,
      listSmallPositionLeftTablet: $listSmallPositionLeftTablet,
      listSmallIndexTablet: $listSmallIndexTablet,
      listSmallDisplayTablet: $listSmallDisplayTablet,
      listSmallMarginTopTablet: $listSmallMarginTopTablet,
      listSmallMarginRightTablet: $listSmallMarginRightTablet,
      listSmallMarginBottomTablet: $listSmallMarginBottomTablet,
      listSmallMarginLeftTablet: $listSmallMarginLeftTablet,
      listSmallPaddingTopTablet: $listSmallPaddingTopTablet,
      listSmallPaddingRightTablet: $listSmallPaddingRightTablet,
      listSmallPaddingBottomTablet: $listSmallPaddingBottomTablet,
      listSmallPaddingLeftTablet: $listSmallPaddingLeftTablet,
      listSmallBackgroundColorTablet: $listSmallBackgroundColorTablet,
      listSmallClickColorTablet: $listSmallClickColorTablet,
      listSmallSeparatorColorTablet: $listSmallSeparatorColorTablet,
      listSmallChevronColorTablet: $listSmallChevronColorTablet,
      listSmallTitleFontTablet: $listSmallTitleFontTablet,
      listSmallTitleSizeTablet: $listSmallTitleSizeTablet,
      listSmallTitleColorTablet: $listSmallTitleColorTablet,
      listSmallTitleWeightTablet: $listSmallTitleWeightTablet,
      listSmallTitleStyleTablet: $listSmallTitleStyleTablet,
      listSmallTitleDecorationTablet: $listSmallTitleDecorationTablet,
      listSmallDescriptionFontTablet: $listSmallDescriptionFontTablet,
      listSmallDescriptionSizeTablet: $listSmallDescriptionSizeTablet,
      listSmallDescriptionColorTablet: $listSmallDescriptionColorTablet,
      listSmallDescriptionWeightTablet: $listSmallDescriptionWeightTablet,
      listSmallDescriptionStyleTablet: $listSmallDescriptionStyleTablet,
      listSmallDescriptionDecorationTablet: $listSmallDescriptionDecorationTablet,
      listSmallIconSizeTablet: $listSmallIconSizeTablet,
      listSmallIconBackgroundColorTablet: $listSmallIconBackgroundColorTablet,
      listSmallIconColorTablet: $listSmallIconColorTablet,
      listSmallItemPaddingTopTablet: $listSmallItemPaddingTopTablet,
      listSmallItemPaddingRightTablet: $listSmallItemPaddingRightTablet,
      listSmallItemPaddingBottomTablet: $listSmallItemPaddingBottomTablet,
      listSmallItemPaddingLeftTablet: $listSmallItemPaddingLeftTablet,
      listSmallMyListToggleColorTablet: $listSmallMyListToggleColorTablet,
      listSmallMyListToggleActiveColorTablet: $listSmallMyListToggleActiveColorTablet,
      listSmallMyListSwipeColorTablet: $listSmallMyListSwipeColorTablet,
      listSmallMyListSwipeTextColorTablet: $listSmallMyListSwipeTextColorTablet,
      listSmallMyListSwipeRightColorTablet: $listSmallMyListSwipeRightColorTablet,
      listSmallMyListSwipeRightTextColorTablet: $listSmallMyListSwipeRightTextColorTablet,
      listSmallMyListSwipeLeftColorTablet: $listSmallMyListSwipeLeftColorTablet,
      listSmallMyListSwipeLeftTextColorTablet: $listSmallMyListSwipeLeftTextColorTablet,
      listSmallVisibilityTablet: $listSmallVisibilityTablet,
      listSmallWidthDesktop: $listSmallWidthDesktop,
      listSmallMinWidthDesktop: $listSmallMinWidthDesktop,
      listSmallMaxWidthDesktop: $listSmallMaxWidthDesktop,
      listSmallPositionDesktop: $listSmallPositionDesktop,
      listSmallPositionTopDesktop: $listSmallPositionTopDesktop,
      listSmallPositionRightDesktop: $listSmallPositionRightDesktop,
      listSmallPositionBottomDesktop: $listSmallPositionBottomDesktop,
      listSmallPositionLeftDesktop: $listSmallPositionLeftDesktop,
      listSmallIndexDesktop: $listSmallIndexDesktop,
      listSmallDisplayDesktop: $listSmallDisplayDesktop,
      listSmallMarginTopDesktop: $listSmallMarginTopDesktop,
      listSmallMarginRightDesktop: $listSmallMarginRightDesktop,
      listSmallMarginBottomDesktop: $listSmallMarginBottomDesktop,
      listSmallMarginLeftDesktop: $listSmallMarginLeftDesktop,
      listSmallPaddingTopDesktop: $listSmallPaddingTopDesktop,
      listSmallPaddingRightDesktop: $listSmallPaddingRightDesktop,
      listSmallPaddingBottomDesktop: $listSmallPaddingBottomDesktop,
      listSmallPaddingLeftDesktop: $listSmallPaddingLeftDesktop,
      listSmallBackgroundColorDesktop: $listSmallBackgroundColorDesktop,
      listSmallClickColorDesktop: $listSmallClickColorDesktop,
      listSmallSeparatorColorDesktop: $listSmallSeparatorColorDesktop,
      listSmallChevronColorDesktop: $listSmallChevronColorDesktop,
      listSmallTitleFontDesktop: $listSmallTitleFontDesktop,
      listSmallTitleSizeDesktop: $listSmallTitleSizeDesktop,
      listSmallTitleColorDesktop: $listSmallTitleColorDesktop,
      listSmallTitleWeightDesktop: $listSmallTitleWeightDesktop,
      listSmallTitleStyleDesktop: $listSmallTitleStyleDesktop,
      listSmallTitleDecorationDesktop: $listSmallTitleDecorationDesktop,
      listSmallDescriptionFontDesktop: $listSmallDescriptionFontDesktop,
      listSmallDescriptionSizeDesktop: $listSmallDescriptionSizeDesktop,
      listSmallDescriptionColorDesktop: $listSmallDescriptionColorDesktop,
      listSmallDescriptionWeightDesktop: $listSmallDescriptionWeightDesktop,
      listSmallDescriptionStyleDesktop: $listSmallDescriptionStyleDesktop,
      listSmallDescriptionDecorationDesktop: $listSmallDescriptionDecorationDesktop,
      listSmallIconSizeDesktop: $listSmallIconSizeDesktop,
      listSmallIconBackgroundColorDesktop: $listSmallIconBackgroundColorDesktop,
      listSmallIconColorDesktop: $listSmallIconColorDesktop,
      listSmallItemPaddingTopDesktop: $listSmallItemPaddingTopDesktop,
      listSmallItemPaddingRightDesktop: $listSmallItemPaddingRightDesktop,
      listSmallItemPaddingBottomDesktop: $listSmallItemPaddingBottomDesktop,
      listSmallItemPaddingLeftDesktop: $listSmallItemPaddingLeftDesktop,
      listSmallMyListToggleColorDesktop: $listSmallMyListToggleColorDesktop,
      listSmallMyListToggleActiveColorDesktop: $listSmallMyListToggleActiveColorDesktop,
      listSmallMyListSwipeColorDesktop: $listSmallMyListSwipeColorDesktop,
      listSmallMyListSwipeTextColorDesktop: $listSmallMyListSwipeTextColorDesktop,
      listSmallMyListSwipeRightColorDesktop: $listSmallMyListSwipeRightColorDesktop,
      listSmallMyListSwipeRightTextColorDesktop: $listSmallMyListSwipeRightTextColorDesktop,
      listSmallMyListSwipeLeftColorDesktop: $listSmallMyListSwipeLeftColorDesktop,
      listSmallMyListSwipeLeftTextColorDesktop: $listSmallMyListSwipeLeftTextColorDesktop,
      listSmallVisibilityDesktop: $listSmallVisibilityDesktop
    ),
    $options
  );

  $instanceSelector: '[data-widget-package="com.fliplet.list-small-thumbs"]';
  @if $widgetInstanceUUID != "" {
    $instanceSelector: '#{$instanceSelector}[data-uuid="#{$widgetInstanceUUID}"]';
  } @else if $widgetInstanceId != "" {
    $instanceSelector: '#{$instanceSelector}[data-id="#{$widgetInstanceId}"]';
  }

  #{$instanceSelector} {
    position: map-get($configuration, listSmallPosition) !important;
    z-index: map-get($configuration, listSmallIndex);

    @if map-get($configuration, listSmallPosition) == "relative" {
      @if map-get($configuration, listSmallVisibility) == "visible" {
        display: map-get($configuration, listSmallDisplay) !important;
      } @else {
        display: none !important;
      }
    } @else {
      @if map-get($configuration, listSmallVisibility) == "visible" {
        display: block !important;
      } @else {
        display: none !important;
      }

      top: map-get($configuration, listSmallPositionTop);
      right: map-get($configuration, listSmallPositionRight);
      bottom: map-get($configuration, listSmallPositionBottom);
      left: map-get($configuration, listSmallPositionLeft);
    }

    width: map-get($configuration, listSmallWidth);
    min-width: map-get($configuration, listSmallMinWidth);
    max-width: map-get($configuration, listSmallMaxWidth);
    margin: map-get($configuration, listSmallMarginTop)
      map-get($configuration, listSmallMarginRight) map-get($configuration, listSmallMarginBottom)
      map-get($configuration, listSmallMarginLeft);
    padding: map-get($configuration, listSmallPaddingTop)
      map-get($configuration, listSmallPaddingRight) map-get($configuration, listSmallPaddingBottom)
      map-get($configuration, listSmallPaddingLeft);

    // Styles for tablet
    @include above($tabletBreakpoint) {
      position: map-get($configuration, listSmallPositionTablet) !important;
      z-index: map-get($configuration, listSmallIndexTablet);

      @if map-get($configuration, listSmallPositionTablet) == "relative" {
        @if map-get($configuration, listSmallVisibilityTablet) == "visible" {
          display: map-get($configuration, listSmallDisplayTablet) !important;
        } @else {
          display: none !important;
        }
      } @else {
        @if map-get($configuration, listSmallVisibilityTablet) == "visible" {
          display: block !important;
        } @else {
          display: none !important;
        }

        top: map-get($configuration, listSmallPositionTopTablet);
        right: map-get($configuration, listSmallPositionRightTablet);
        bottom: map-get($configuration, listSmallPositionBottomTablet);
        left: map-get($configuration, listSmallPositionLeftTablet);
      }

      width: map-get($configuration, listSmallWidthTablet);
      min-width: map-get($configuration, listSmallMinWidthTablet);
      max-width: map-get($configuration, listSmallMaxWidthTablet);
      margin: map-get($configuration, listSmallMarginTopTablet)
        map-get($configuration, listSmallMarginRightTablet)
        map-get($configuration, listSmallMarginBottomTablet)
        map-get($configuration, listSmallMarginLeftTablet);
      padding: map-get($configuration, listSmallPaddingTopTablet)
        map-get($configuration, listSmallPaddingRightTablet)
        map-get($configuration, listSmallPaddingBottomTablet)
        map-get($configuration, listSmallPaddingLeftTablet);
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      position: map-get($configuration, listSmallPositionDesktop) !important;
      z-index: map-get($configuration, listSmallIndexDesktop);

      @if map-get($configuration, listSmallPositionDesktop) == "relative" {
        @if map-get($configuration, listSmallVisibilityDesktop) == "visible" {
          display: map-get($configuration, listSmallDisplayDesktop) !important;
        } @else {
          display: none !important;
        }
      } @else {
        @if map-get($configuration, listSmallVisibilityDesktop) == "visible" {
          display: block !important;
        } @else {
          display: none !important;
        }

        top: map-get($configuration, listSmallPositionTopDesktop);
        right: map-get($configuration, listSmallPositionRightDesktop);
        bottom: map-get($configuration, listSmallPositionBottomDesktop);
        left: map-get($configuration, listSmallPositionLeftDesktop);
      }

      width: map-get($configuration, listSmallWidthDesktop);
      min-width: map-get($configuration, listSmallMinWidthDesktop);
      max-width: map-get($configuration, listSmallMaxWidthDesktop);
      margin: map-get($configuration, listSmallMarginTopDesktop)
        map-get($configuration, listSmallMarginRightDesktop)
        map-get($configuration, listSmallMarginBottomDesktop)
        map-get($configuration, listSmallMarginLeftDesktop);
      padding: map-get($configuration, listSmallPaddingTopDesktop)
        map-get($configuration, listSmallPaddingRightDesktop)
        map-get($configuration, listSmallPaddingBottomDesktop)
        map-get($configuration, listSmallPaddingLeftDesktop);
    }

    .list.list-thumb-s {
      ul > li {
        border-bottom: 1px solid map-get($configuration, listSmallSeparatorColor);
        background-color: map-get($configuration, listSmallBackgroundColor);
        padding: map-get($configuration, listSmallItemPaddingTop)
          map-get($configuration, listSmallItemPaddingRight)
          map-get($configuration, listSmallItemPaddingBottom)
          calc(#{map-get($configuration, listSmallItemPaddingLeft)} + 46px);

        &.linked {
          padding-right: calc(#{map-get($configuration, listSmallItemPaddingRight)} + 34px);

          &:active {
            background-color: map-get($configuration, listSmallClickColor);
          }

          &:after {
            color: map-get($configuration, listSmallChevronColor);
          }

          .list-icon {
            color: map-get($configuration, listSmallChevronColor);
          }
        }

        .list-image {
          background-color: map-get($configuration, listSmallIconBackgroundColor);

          .fl-list-icon {
            color: map-get($configuration, listSmallIconColor);
            font-size: map-get($configuration, listSmallIconSize);
          }
        }

        .list-title {
          @include fontOnly(
            (
              fontFamily: map-get($configuration, listSmallTitleFont),
              fontSize: map-get($configuration, listSmallTitleSize),
              fontLineHeight: 1.5,
              fontWeight: map-get($configuration, listSmallTitleWeight),
              fontStyle: map-get($configuration, listSmallTitleStyle),
              fontDecoration: map-get($configuration, listSmallTitleDecoration)
            )
          );
          color: map-get($configuration, listSmallTitleColor);
        }

        p + p {
          @include fontOnly(
            (
              fontFamily: map-get($configuration, listSmallDescriptionFont),
              fontSize: map-get($configuration, listSmallDescriptionSize),
              fontLineHeight: 1.5,
              fontWeight: map-get($configuration, listSmallDescriptionWeight),
              fontStyle: map-get($configuration, listSmallDescriptionStyle),
              fontDecoration: map-get($configuration, listSmallDescriptionDecoration)
            )
          );
          color: map-get($configuration, listSmallDescriptionColor);
        }

        // Styles for tablet
        @include above($tabletBreakpoint) {
          border-bottom: 1px solid map-get($configuration, listSmallSeparatorColorTablet);
          background-color: map-get($configuration, listSmallBackgroundColorTablet);
          padding: map-get($configuration, listSmallItemPaddingTopTablet)
            map-get($configuration, listSmallItemPaddingRightTablet)
            map-get($configuration, listSmallItemPaddingBottomTablet)
            calc(#{map-get($configuration, listSmallItemPaddingLeftTablet)} + 46px);

          &.linked {
            padding-right: calc(#{map-get($configuration, listSmallItemPaddingRightTablet)} + 34px);

            &:active {
              background-color: map-get($configuration, listSmallClickColorTablet);
            }

            &:after {
              color: map-get($configuration, listSmallChevronColorTablet);
            }

            .list-icon {
              color: map-get($configuration, listSmallChevronColorTablet);
            }
          }

          .list-image {
            background-color: map-get($configuration, listSmallIconBackgroundColorTablet);

            .fl-list-icon {
              color: map-get($configuration, listSmallIconColorTablet);
              font-size: map-get($configuration, listSmallIconSizeTablet);
            }
          }

          .list-title {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, listSmallTitleFontTablet),
                fontSize: map-get($configuration, listSmallTitleSizeTablet),
                fontLineHeight: 1.5,
                fontWeight: map-get($configuration, listSmallTitleWeightTablet),
                fontStyle: map-get($configuration, listSmallTitleStyleTablet),
                fontDecoration: map-get($configuration, listSmallTitleDecorationTablet)
              )
            );
            color: map-get($configuration, listSmallTitleColorTablet);
          }

          p + p {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, listSmallDescriptionFontTablet),
                fontSize: map-get($configuration, listSmallDescriptionSizeTablet),
                fontLineHeight: 1.5,
                fontWeight: map-get($configuration, listSmallDescriptionWeightTablet),
                fontStyle: map-get($configuration, listSmallDescriptionStyleTablet),
                fontDecoration: map-get($configuration, listSmallDescriptionDecorationTablet)
              )
            );
            color: map-get($configuration, listSmallDescriptionColorTablet);
          }
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          border-bottom: 1px solid map-get($configuration, listSmallSeparatorColorDesktop);
          background-color: map-get($configuration, listSmallBackgroundColorDesktop);
          padding: map-get($configuration, listSmallItemPaddingTopDesktop)
            map-get($configuration, listSmallItemPaddingRightDesktop)
            map-get($configuration, listSmallItemPaddingBottomDesktop)
            calc(#{map-get($configuration, listSmallItemPaddingLeftDesktop)} + 46px);

          &.linked {
            padding-right: calc(
              #{map-get($configuration, listSmallItemPaddingRightDesktop)} + 34px
            );

            &:active {
              background-color: map-get($configuration, listSmallClickColorDesktop);
            }

            &:after {
              color: map-get($configuration, listSmallChevronColorDesktop);
            }

            .list-icon {
              color: map-get($configuration, listSmallChevronColorDesktop);
            }
          }

          .list-image {
            background-color: map-get($configuration, listSmallIconBackgroundColorDesktop);

            .fl-list-icon {
              color: map-get($configuration, listSmallIconColorDesktop);
              font-size: map-get($configuration, listSmallIconSizeDesktop);
            }
          }

          .list-title {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, listSmallTitleFontDesktop),
                fontSize: map-get($configuration, listSmallTitleSizeDesktop),
                fontLineHeight: 1.5,
                fontWeight: map-get($configuration, listSmallTitleWeightDesktop),
                fontStyle: map-get($configuration, listSmallTitleStyleDesktop),
                fontDecoration: map-get($configuration, listSmallTitleDecorationDesktop)
              )
            );
            color: map-get($configuration, listSmallTitleColorDesktop);
          }

          p + p {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, listSmallDescriptionFontDesktop),
                fontSize: map-get($configuration, listSmallDescriptionSizeDesktop),
                fontLineHeight: 1.5,
                fontWeight: map-get($configuration, listSmallDescriptionWeightDesktop),
                fontStyle: map-get($configuration, listSmallDescriptionStyleDesktop),
                fontDecoration: map-get($configuration, listSmallDescriptionDecorationDesktop)
              )
            );
            color: map-get($configuration, listSmallDescriptionColorDesktop);
          }
        }
      }

      ul.list-save-filter {
        border: 1px solid map-get($configuration, listSmallMyListToggleColor);

        li {
          border-left: 1px solid map-get($configuration, listSmallMyListToggleColor);
          background: $bodyBackground;
          color: map-get($configuration, listSmallMyListToggleColor);

          &.active {
            background: map-get($configuration, listSmallMyListToggleColor);
            color: map-get($configuration, listSmallMyListToggleActiveColor);
          }
        }

        // Styles for tablet
        @include above($tabletBreakpoint) {
          border: 1px solid map-get($configuration, listSmallMyListToggleColorTablet);

          li {
            border-left: 1px solid map-get($configuration, listSmallMyListToggleColorTablet);
            background: $bodyBackgroundTablet;
            color: map-get($configuration, listSmallMyListToggleColorTablet);

            &.active {
              background: map-get($configuration, listSmallMyListToggleColorTablet);
              color: map-get($configuration, listSmallMyListToggleActiveColorTablet);
            }
          }
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          border: 1px solid map-get($configuration, listSmallMyListToggleColorDesktop);

          li {
            border-left: 1px solid map-get($configuration, listSmallMyListToggleColorDesktop);
            background: $bodyBackgroundDesktop;
            color: map-get($configuration, listSmallMyListToggleColorDesktop);

            &.active {
              background: map-get($configuration, listSmallMyListToggleColorDesktop);
              color: map-get($configuration, listSmallMyListToggleActiveColorDesktop);
            }
          }
        }
      }

      ul.list-swipe .swipe-action {
        background: map-get($configuration, listSmallMyListSwipeColor);
        color: map-get($configuration, listSmallMyListSwipeTextColor);

        &.swipe-action-right.active {
          background: map-get($configuration, listSmallMyListSwipeRightColor);
          color: map-get($configuration, listSmallMyListSwipeRightTextColor);
        }

        &.swipe-action-left.active {
          background: map-get($configuration, listSmallMyListSwipeLeftColor);
          color: map-get($configuration, listSmallMyListSwipeLeftTextColor);
        }

        // Styles for tablet
        @include above($tabletBreakpoint) {
          background: map-get($configuration, listSmallMyListSwipeColorTablet);
          color: map-get($configuration, listSmallMyListSwipeTextColorTablet);

          &.swipe-action-right.active {
            background: map-get($configuration, listSmallMyListSwipeRightColorTablet);
            color: map-get($configuration, listSmallMyListSwipeRightTextColorTablet);
          }

          &.swipe-action-left.active {
            background: map-get($configuration, listSmallMyListSwipeLeftColorTablet);
            color: map-get($configuration, listSmallMyListSwipeLeftTextColorTablet);
          }
        }

        // Styles for desktop
        @include above($desktopBreakpoint) {
          background: map-get($configuration, listSmallMyListSwipeColorDesktop);
          color: map-get($configuration, listSmallMyListSwipeTextColorDesktop);

          &.swipe-action-right.active {
            background: map-get($configuration, listSmallMyListSwipeRightColorDesktop);
            color: map-get($configuration, listSmallMyListSwipeRightTextColorDesktop);
          }

          &.swipe-action-left.active {
            background: map-get($configuration, listSmallMyListSwipeLeftColorDesktop);
            color: map-get($configuration, listSmallMyListSwipeLeftTextColorDesktop);
          }
        }
      }
    }
  }
}

@include listSmallThumbs();
