/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - LIST, LIST SMALL THUMBS, LIST LARGE THUMBS
02 - PDF FILE LIST
03 - RSS LIST
04 - APP LIST
******************************/

/* 01 - LIST, LIST SMALL THUMBS, LIST LARGE THUMBS */

.list.list-default,
.list.list-thumb-s,
.list.list-thumb-l {

  ul > li {
    background-color: $listBackgroundColor;

    &.linked:active {
      background-color: $listClickColor;
    }

    &.linked:after {
      color: $listChevronColor;
    }

    .list-title {
      font-size: $titleSize;
    	font-weight: $titleWeight;
      color: $titleColor;

      p {
        font-size: $descriptionSize;
        font-weight: $descriptionWeight;
        color: $descriptionColor;
      }
    }

    .list-image {
      border-radius: $listImageBorderRadius;
    }

  }

}

ul.list-save-filter {
  border: 1px solid $listMyListToggleColor;

  li {
    border-left: 1px solid $listMyListToggleColor;
    background: $bodyBackground;
    color: $listMyListToggleColor;

    &.active {
      background: $listMyListToggleColor;
      color: listMyListToggleActiveColor;
    }
  }
}

ul.list-swipe .swipe-action {
  background: $listMyListSwipeColor;
  color: $listMyListSwipeTextColor;

  &.swipe-action-right.active{
    background: $listMyListSwipeRightColor;
    color: $listMyListSwipeRightTextColor;
  }

  &.swipe-action-left.active {
    background: $listMyListSwipeLeftColor;
    color: $listMyListSwipeLeftTextColor;
  }
}

/* 02 - PDF FILE LIST */

.list-search {
  border-bottom: $listSearchBorder;
}

.btn.btn-link.search-cancel {
  color: $listSearchCancel;

  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $linkHoverColor;
  }
}

/* 03 - RSS LIST */
.feed {
  ul {
    &.feed-panels {
      &.line > li {
        &.feed-item {
          border-bottom: $listSeparatorColor;
        }
      }

      &.stripes > li {
        &.feed-item:nth-child(odd) {
          background-color: $rssStripes;
        }
      }

      & > li {
        &.feed-item {
          background-color: $listBackgroundColor;

          &.line {
            border-left-color: $rssHighlight;
          }
        }
      }
    }
  }

  .feed-item {
    &.circle {
      p.list-title {
        .circle-icon {
          background-color: $rssHighlight;
        }
      }
    }

    .list-title {
      color: $titleColor;
      font-size: $titleSize;
      font-weight: $titleWeight;
    }

    .list-description {
      color: $descriptionColor;
      font-size: $descriptionSize;
      font-weight: $descriptionWeight;
    }

    .icon {
      color: $listChevronColor;
    }
  }
}
