/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - LOCK
******************************/

/* 01 - LOCK */

.passcode-wrapper {
  .passcode-field {
    border-bottom: 1px solid $lockInput;

    &:focus {
      border-bottom: 1px solid $lockInputFocus;
    }
  }

  // Styles for tablet
  @include above($tabletBreakpoint) {
    .passcode-field {
      border-bottom: 1px solid $lockInputTablet;

      &:focus {
        border-bottom: 1px solid $lockInputFocusTablet;
      }
    }
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    .passcode-field {
      border-bottom: 1px solid $lockInputDesktop;

      &:focus {
        border-bottom: 1px solid $lockInputFocusDesktop;
      }
    }
  }
}

.verify-field-wrapper .back-setup {
  color: $lockChevronColor;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    color: $lockChevronColorTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    color: $lockChevronColorDesktop;
  }
}

.use-touchid {
  border: 1px solid $touchIDBorder;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    cborder: 1px solid $touchIDBorderTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    border: 1px solid $touchIDBorderDesktop;
  }
}
