@mixin lock($options: ()) {
  $configuration: map-merge((
    lockInput: $lockInput,
    lockInputFocus: $lockInputFocus,
    lockChevronColor: $lockChevronColor,
    touchIDBorder: $touchIDBorder,
    lockInputTablet: $lockInputTablet,
    lockInputFocusTablet: $lockInputFocusTablet,
    lockChevronColorTablet: $lockChevronColorTablet,
    touchIDBorderTablet: $touchIDBorderTablet,
    lockInputDesktop: $lockInputDesktop,
    lockInputFocusDesktop: $lockInputFocusDesktop,
    lockChevronColorDesktop: $lockChevronColorDesktop,
    touchIDBorderDesktop: $touchIDBorderDesktop
  ), $options);

  .passcode-wrapper {
    .passcode-field {
      border-bottom: 1px solid map-get($configuration, lockInput);

      &:focus {
        border-bottom: 1px solid map-get($configuration, lockInputFocus);
      }
    }

    // Styles for tablet
    @include above($tabletBreakpoint) {
      .passcode-field {
        border-bottom: 1px solid map-get($configuration, lockInputTablet);

        &:focus {
          border-bottom: 1px solid map-get($configuration, lockInputFocusTablet);
        }
      }
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      .passcode-field {
        border-bottom: 1px solid map-get($configuration, lockInputDesktop);

        &:focus {
          border-bottom: 1px solid map-get($configuration, lockInputFocusDesktop);
        }
      }
    }
  }

  .verify-field-wrapper .back-setup {
    color: map-get($configuration, lockChevronColor);

    // Styles for tablet
    @include above($tabletBreakpoint) {
      color: map-get($configuration, lockChevronColorTablet);
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      color: map-get($configuration, lockChevronColorDesktop);
    }
  }

  .use-touchid {
    border: 1px solid map-get($configuration, touchIDBorder);

    // Styles for tablet
    @include above($tabletBreakpoint) {
      border: 1px solid map-get($configuration, touchIDBorderTablet);
    }

    // Styles for desktop
    @include above($desktopBreakpoint) {
      border: 1px solid map-get($configuration, touchIDBorderDesktop);
    }
  }
}

@include lock();