/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - LOGIN & REGISTRATION
******************************/

/* 01 - LOGIN & REGISTRATION */

.state input.form-control {
  @include borderOnly((
    borderSides: $fieldBorderSides,
    borderWidth: $fieldBorderWidth,
    borderStyle: $fieldBorderStyle,
    borderColor: $fieldBorder
  ));
  border-radius: $fieldBorderRadius;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    @include borderOnly((
      borderSides: $fieldBorderSidesTablet,
      borderWidth: $fieldBorderWidthTablet,
      borderStyle: $fieldBorderStyleTablet,
      borderColor: $fieldBorderTablet
    ));
    border-radius: $fieldBorderRadiusTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    @include borderOnly((
      borderSides: $fieldBorderSidesDesktop,
      borderWidth: $fieldBorderWidthDesktop,
      borderStyle: $fieldBorderStyleDesktop,
      borderColor: $fieldBorderDesktop
    ));
    border-radius: $fieldBorderRadiusDesktop;
  }
}

.state .back {
  border-right: 1px solid $chevronSeparator;
  color: $chevronColor;

  // Styles for tablet
  @include above($tabletBreakpoint) {
    border-right: 1px solid $chevronSeparatorTablet;
    color: $chevronColorTablet;
  }

  // Styles for desktop
  @include above($desktopBreakpoint) {
    border-right: 1px solid $chevronSeparatorDesktop;
    color: $chevronColorDesktop;
  }
}
