/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - LOGIN & REGISTRATION
******************************/

/* 01 - LOGIN & REGISTRATION */

.state input.form-control {
  border: $fieldBorder;
  border-radius: $fieldBorderRadius;
}

.state .back {
    border-right: $chevronSeparator;
    color: $chevronColor;
}
