.notification-badge {
  background-color: $notificationBadgeBackgroundColor;
}

.fl-widget-instance[data-type="menu"] .notification-badge {
  background-color: $notificationBadgeBackgroundColorInMenu;
  color: $notificationBadgeTextColorInMenu;
}

[data-notification-inbox-1-0-0-id] .notification[data-notification-status="draft"] {
  background-color: $notificationDraftBackgroundColor;
}