html.no-touchevents.js-focus-visible {
  .fl-number-input {
    &.focus-outline {
      &:focus-within {
        box-shadow: 0px 0px 0px $focusOutlineWidth $focusOutlineColor;
      }

      @include above($tabletBreakpoint) {
        &:focus-within {
          box-shadow: 0px 0px 0px $focusOutlineWidthTablet $focusOutlineColorTablet;
        }
      }

      @include above($desktopBreakpoint) {
        &:focus-within {
          box-shadow: 0px 0px 0px $focusOutlineWidthDesktop $focusOutlineColorDesktop;
        }
      }
    }
  }
}
