/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - PHOTO SHARING
******************************/

/* 01 - PHOTO SHARING */

.btn.refresh {
	color: $primaryButtonColor;
	background-color: transparent;
	border: 1px solid $primaryButtonColor;

  &:focus,
  &:hover,
  &:active:focus,
  &:active:hover {
    border-width: 1px;
  }
}

.add-photo {
  background-color: $primaryButtonColor;
  color: $primaryButtonTextColor;
}

/* @TODO - Update  border - missing border property */
.btn.btn-default {
  background-color: $secondaryButtonColor;
  color: $secondaryButtonTextColor;
  border-radius: $secondaryButtonBorderRadius;

  &:focus,
  &:hover,
  &:active:focus,
  &:active:hover {
    background-color: $secondaryButtonHoverColor;
    color: $secondaryButtonHoverTextColor;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

.image-wrapper {
	border-top: $imageContainerBorder;
	border-bottom: $imageContainerBorder;

  @media (min-width: 640px) {
    border: $imageContainerBorder;
  }
}

.photo-upload-overlay {

  .overlayNavbar {
    border-bottom: $imageContainerBorder;
    background: $imageOverlayNavBackgroundColor;
    color: $imageOverlayNavTextColor;
  }

  .overlayPanelContent {
    background: $imageOverlayBackgroundColor;
    color: $imageOverlayTextColor;
  }

  .form-horizontal canvas {
    border-bottom: $imageContainerBorder;
  }
}
