/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - PUSH NOTIFICATION
******************************/

/* 01 - PUSH NOTIFICATION */

.popup-wrapper {
  background-color: $pushBackgroundColor;
  color: $pushTextColor;

  .popup-content .popup-title {
    font-size: $pushTitleSize;
    font-weight: $pushTitleWeight;
    border-bottom: 1px solid lighten($pushTextColor, 60%);
  }

  .popup-bottom {
    border-top: 4px solid lighten($pushTextColor, 60%);

    button {
      border-bottom: 1px solid lighten($pushTextColor, 60%);

      &:first-child {
        color: $pushAcceptButton;
      }

      &:active {
        background-color: $pushButtonActive;
      }
    }
  }
}
