/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - SLIDER
******************************/

/* 01 - SLIDER */

.swiper-pagination-bullet {
  width: $paginationBulletWidth;
  height: $paginationBulletHeight;
  border: $paginationBulletBorder;
  background: $paginationBulletColor;
}

.swiper-pagination-bullet-active {
  border: $paginationBulletBorderActive;
  background: $paginationBulletColorActive;
}

.swiper-button-next,
.swiper-button-prev {
  color: $paginationChevronsColor;
}

.swiper-wrapper {
  p {
    color: $sliderTextColor;
    font-weight: $sliderTextWeight;
    font-size: $sliderTextSize;
    line-height: $sliderTextHeight;
  }

  h1 {
    color: $sliderHeadingColor;
    font-weight: $sliderHeadingWeigth;
    font-size: $sliderHeadingSize;
    line-height: $sliderHeadingHeight;
  }
}

.onboarding-holder.full-screen {
  .ob-top-nav {
    .ob-skip {
      color: $onboardingSkipTextColor;
    }
  }

  .swiper-pagination-bullet {
    width: $onboardingPaginationBulletWidth;
    height: $onboardingPaginationBulletHeight;
    border: $onboardingPaginationBulletBorder;
    background: $onboardingPaginationBulletColor;
  }

  .swiper-pagination-bullet-active {
    border: $onboardingPaginationBulletBorderActive;
    background: $onboardingPaginationBulletColorActive;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $onboardingPaginationChevronsColor;
  }

  .swiper-wrapper {
    .swiper-slide-content {
      background-color: $onboardingSlideBackgroundColor;
    }

    p {
      color: $onboardingTextColor;
      font-weight: $onboardingTextWeight;
      font-size: $onboardingTextSize;
      line-height: $onboardingTextHeight;
    }

    h1 {
      color: $onboardingHeadingColor;
      font-weight: $onboardingHeadingWeigth;
      font-size: $onboardingHeadingSize;
      line-height: $onboardingHeadingHeight;
    }
  }
}
