/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - SLIDER
******************************/

/* 01 - SLIDER */

.swiper-pagination-bullet {
  width: $paginationBulletWidth;
  height: $paginationBulletHeight;
  border: $paginationBulletBorder;
  background: $paginationBulletColor;
}

.swiper-pagination-bullet-active {
  border: $paginationBulletBorderActive;
  background: $paginationBulletColorActive;
}

.swiper-button-next,
.swiper-button-prev {
  color: $paginationChevronsColor;
}
