/* Toast UI */

.fl-toast {
  background-color: $toastRegularBackgroundColor;
  color: $toastRegularTextColor;
  border-radius: $toastRegularBorderRadius;
}

.fl-toast-progress > .progress {
  background-color: $toastRegularLinksBackgroundColor;
}

.fl-toast-links {
  background-color: $toastRegularLinksBackgroundColor;
}

.fl-toast-links > .link {
  color: $toastRegularLinkColor;
}

/* Minimal Toast UI */

.fl-toast-minimal {
  background-color: $toastMinimalBackgroundColor;
  color: $toastMinimalTextColor;
  border-radius: 0;
}

.fl-toast-minimal .fl-toast-progress > .progress {
  background-color: $toastMinimalBackgroundColor;
}

.fl-toast-minimal .fl-toast-links > .link {
  color: $toastMinimalLinkColor;
}